.posting[link]
  .link.blank.canvas
    - unless link.embeds.primary.present?
      - link.photos.each do |photo|
        = image_tag(photo.image.url(:thumb), :site => false)
    .description
      %h1= link_to truncate(link.title, :length => 80), link.url
      %p.unobtrusive= link_to link.provider_display, link.provider_url
      %p= link.description
    - if link.embeds.present?
      - link.embeds.each do |embed|
        .embed.prepend-top{ :class => embed.type }
          = render_embed(embed)
