- user = link.user
.post_frame.posting[ link ]{ gid, uid(link[:user_id]) }
  .post.link
    = link_to_unpublish(link)
    .portrait= thimble_link_to_profile(user, :remote => true)
    .clear
      - if link.embeds.present?
        - link.embeds.each do |embed|
          .embed{ :class => embed.type }= render_embed(embed)
      .cell
        - link.photos.each do |photo|
          = image_tag(photo.image.url(:thumb), :site => false, :size => '50x50')
        %p= link_to truncate(strip_tags(link.title), :length => 80), link.url, :target => '_blank', :class => 'title'
        %section.description= sanitize(link.description)
        %p= link_to strip_tags(link.provider_display), link.provider_url, :target => '_blank'
      = posted_distance_of_time(link)
      = link_to_comments(link.children.type(Posting::Comment).published.count, posting_comments_path(link))
  .reaction
