.face-container
  .back.face
    = link_to 'Close', wave_profile_path(profile), :class => 'close'
    .content.scrollable
      .items
        .pane.signals.mini-profile{ :'data-pane' => 'signals' }
        .pane.photos.photo-grid{ :'data-pane' => 'photos' }
          - 1.upto(9) do |i|
            = image_tag('friskyfactory/ffffff.gif', :class => "thumb#{ ' omega' if (i % 3) == 0}", :site => false)
        .pane.invitations.photo-grid{ :'data-pane' => 'invitations' }
          - 1.upto(9) do |i|
            = image_tag('friskyfactory/ffffff.gif', :class => "thumb#{ ' omega' if (i % 3) == 0}", :site => false)
        .pane.conversation{ :'data-pane' => 'conversation' }
          .header
          .thread

    %ul.buddy-bar.secondary
      %li= link_to 'Polaroid', 'polaroid', :class => 'flip headshot icon'

    %ul.buddy-bar.primary.navi
      %li= link_to 'Profile', 'profile', :class => 'mini-profile icon'
      %li= link_to 'Photos', 'photos', :class => 'photos icon'
      %li= link_to 'Invitations', 'invitations', :class => 'invitations icon'
      - if current_user.present? && (current_user.id != profile.user_id)
        %li= link_to 'Chat', profile_conversation_path(profile), :class => 'chat icon'
        %li= link_to 'Poke', poke_new_friendship_path(:profile_id => profile.id), :class => 'poke icon', :remote => true, :'data-type' => :json, :method => :post
