.face-container
  .back.face
    = link_to 'Close', wave_profile_path(profile), :class => 'close hidden'
    .content.scrollable
      .items
        .mini-profile
          %table.header<
            %tr
              %td.avatar<
                = avatar_image_tag(profile.avatar, :style => :thumb, :anonymous => true, :gender => profile.gender)
              %td.username<
                = profile.handle
              %td.age<
                = profile.age.present? ? profile.age : '&nbsp;'.html_safe
          %table.detail              
            - with_options :partial => 'profile_signal', :object => profile do |profile_signal|
              - if current_site.name == 'friskyhands'
                = profile_signal.render :locals => { :attribute => :deafness }
              = profile_signal.render :locals => { :attribute => :gender }
              = profile_signal.render :locals => { :attribute => :orientation, :label => 'Preference' }
              = profile_signal.render :locals => { :attribute => :relationship }
              = profile_signal.render :locals => { :attribute => :birthday }
              = profile_signal.render :locals => { :attribute => :location }
                          
        .photo-grid
          - 1.upto(9) do |i|
            = image_tag('friskyfactory/ffffff.gif', :class => "thumb#{ ' omega' if (i % 3) == 0}", :site => false)
        .invitation-grid
          %h4 Invitation Grid
        -#   = image_tag 'chat-b-side.png', :width=>'260px'
        -# %div
        -#   = image_tag 'message-b-side.png', :width=>'260px'
        -# %div
        -#   = image_tag 'photos-b-side.png', :width=>'260px'
        -# %div
        -#   = image_tag 'profile-b-side.png', :width=>'260px'
    %ul.buddy-bar.secondary
      %li
        = link_to 'Polaroid', 'polaroid', :class => 'flip headshot icon'
    %ul.buddy-bar.primary.navi
      -# %li
      -#   = link_to 'Chat', 'chat', :class => 'chat icon'
      %li= link_to 'Profile', 'profile', :class => 'mini-profile icon'
      %li= link_to 'Photos', 'photos', :class => 'photos icon'
      - if current_user
        %li= link_to 'Message', profile_conversation_path(profile), :class => 'conversation icon last'
        %li= link_to 'Invitations', '#invitations', :class => 'invitations icon'
    - if content_for?(:polaroid_back_face)
      = content_for(:polaroid_back_face)
