.face-container
  .front.face
    = link_to 'Close', wave_profile_path(profile), :class => 'close hidden'
    .content
      = avatar_image_tag(profile.avatar, :class => 'headshot', :anonymous => true, :gender => profile.gender, :link_to_profile => false)
      %table.header
        %tr
          %td.username<
            = profile.handle
          %td.status
            -# Looking for fun
      -# %ul.buddy-bar.secondary
      -#   %li
      -#     = link_to 'Comment', '#', :class => 'comment icon'
      -#   %li.comment-count
      -#     4
      %ul.buddy-bar.primary
        -# %li= link_to 'Block', '#', :class => 'block icon'
        -# %li= link_to 'Buddy', '#', :class => 'buddy icon'
        -# %li= link_to 'Pin', '#', :class => 'pin icon'
        -# %li= link_to 'Chat', 'chat', :class => 'flip chat icon'
        %li= link_to 'Profile', 'profile', :class => 'flip mini-profile icon'
        %li= link_to 'Photos', 'photos', :class => 'flip photos icon'
        - if current_user
          %li= link_to 'Message', profile_conversation_path(profile), :class => 'conversation icon last'
      - if content_for?(:polaroid_front_face)
        = content_for(:polaroid_front_face)
