.wave[@wave]
  .thread
    .unobtrusive.time_ago= "Started #{time_ago_in_words(@wave.created_at)} ago"
    %ul.messages
      - @wave.messages.published.each do |posting|
        %li= render :partial => 'posting/messages/message', :object => posting
  = form_for Posting::Message.new, :url => wave_posting_messages_path(:wave_id => @wave.id), :remote => true do |f|
    .message-input
      = f.text_area :body
    .button-bar
      = f.submit 'Send'
