.wave[@wave]
  .header
    = avatar_image_tag(@wave.recipient, :style => :thimble, :class => 'recipient', :link_to_profile => false)
    = avatar_image_tag(@wave.user, :style => :thimble)
    / .unobtrusive.time-ago= "Started #{time_ago_in_words(@wave.created_at)} ago"
  .thread    
    %ul.messages
      - @wave.messages.published.each do |posting|
        %li= render :partial => 'posting/messages/message', :object => posting
  = form_for Posting::Message.new, :url => wave_posting_messages_path(:wave_id => @wave.id), :remote => true do |f|
    .message-input
      = f.text_area :body
    .button-bar
      = f.submit 'Send'
