= content_for_sidebar_headshot(profile.user)
#floating
#frame
  %h1 #{profile.handle}
  = render :partial => 'layouts/shared/reaction-template'
  = render :partial => 'layouts/shared/nav'
  - postings.each do |posting|
    = render_posting(posting)
  = will_paginate postings, :class => 'pagination footer', :inner_window => 1, :outer_window => 1
  = render :partial => 'layouts/shared/unpublish_overlay'