- content_for :rollcall do
  = render :partial => 'headshot'
#floating
#frame
  = render :partial => 'layouts/shared/reaction-template'
  = render :partial => 'layouts/shared/nav'
  - postings.each do |posting|
    = render_community_posting(posting)
  = will_paginate postings, :class => 'pagination footer', :inner_window => 1, :outer_window => 1
  = render :partial => 'layouts/shared/unpublish_overlay'
