- content_for :headshot do
  = render :partial => 'headshot'
#floating
#frame
  = render :partial => 'layouts/shared/reaction-template'
  = render :partial => 'layouts/shared/nav'
  = render :partial => 'wave/communities/show'
  = render :partial => 'layouts/shared/unpublish_overlay'
