- channel = chat_channel(user, receiver)
%div.posting.posting_chat{ :id => channel }
  %p
    Chat between Mich and Carlos
  .thread
  - form_for Posting::Chat.new, :html => { :id => nil } do |f|
    = hidden_field_tag :channel, channel, :id => nil
    = f.text_field :body, :placeholder => false

- content_for(:pagejs) do
  :plain
    (function(){
      var server = new Pusher("#{PusherKey}", "#{channel}");
      var user_id = #{666};
      server.bind('bubble', function(data) {
        var $thread = $("##{channel}").find('.thread');
        var align = data['user_id'] === user_id ? 'right' : 'left';
        var align = 'left';
        $thread.append("<blockquote class='bubble'><p>" + data['body'] + "</p></blockquote>");
        var scroll = $thread[0].scrollHeight - $thread[0].offsetHeight;
        $thread.scrollTop(scroll);
      });
    })();
