.polaroid-container
  .polaroid{ :id => user }
    .face-container
      .front.face
        .gripper
        .content
          %img.headshot{ :alt => "Carlos", :src => "/images/friskyhands/carlos.jpg" }
          %table.header
            %tr
              %td.username Carlos
              %td.status Looking for fun
        %ul.buddy-bar.secondary
          %li
            = link_to 'Comment', '#', :class => 'comment icon'
          %li.comment-count
            4
        %ul.buddy-bar.primary
          %li
            = link_to 'Block', '#', :class => 'block icon'
          %li
            = link_to 'Buddy', '#', :class => 'buddy icon'
          %li
            = link_to 'Pin', '#', :class => 'pin icon'
          %li
            = link_to 'Chat', 'chat', :class => 'flip chat icon'
          %li
            = link_to 'Message', 'message', :class => 'flip message icon'
          %li
            = link_to 'Photos', 'photos', :class => 'flip photos icon'
          %li
            = link_to 'Profile', 'profile', :class => 'flip profile icon last'
    .face-container
      .back.face
        .gripper
        .content.scrollable
          .items
            = render :partial => 'polaroids/chat', :locals => { :user => user, :receiver => receiver }
            %div
              Messaging
              =# image_tag 'message-b-side.png', :width=>'260px'
            %div
              Photos
              =# image_tag 'photos-b-side.png', :width=>'260px'
            %div
              Profile
              =# image_tag 'profile-b-side.png', :width=>'260px'
        %ul.buddy-bar.secondary
          %li
            = link_to 'Polaroid', 'polaroid', :class => 'flip headshot icon'
        %ul.buddy-bar.primary.navi
          %li
            = link_to 'Chat', 'chat', :class => 'chat icon'
          %li
            = link_to 'Message', 'message', :class => 'message icon'
          %li
            = link_to 'Photos', 'photos', :class => 'photos icon'
          %li
            = link_to 'Profile', 'profile', :class => 'profile icon last'
