- content_tag_for(:div, message, :class => ([ 'posting', cycle('left', 'right', :name => 'posting_message') ] * ' ')) do
  %table
    %tr
      %td= thumb_image_tag(message.sender.profile.avatar) rescue nil
      %td
        From&nbsp;
        = link_to_profile(message.sender)
        = distance_of_time_in_words_to_now(message.created_at)
        %p= h(message.body)
= render :partial => "messages/message", :collection => message.children
