- form_for(Posting::Message.new, :url => message_reply_path(:message_id => message), :html => { :id => "new_message_#{message.id}_reply" }) do |f|
  - if message.present?
    = hidden_field_tag('posting_message[receiver_id]', message.recipient_for(current_user).id) 
  - unless subject == false
    = f.text_field(:subject)
  = f.text_area  :body
  = f.submit 'Send'
  = f.button 'Cancel', :class => 'cancel'
