%tr[reply]
  - if reply.sender == originator
    %td.avatar.thumb.small
      = avatar_image_tag(reply.sender.profile.avatar, :style => :thumb, :class => 'small')
    %td.envelope{ :colspan => '2' }
      = link_to_profile(reply.sender, :label => reply.sender.first_name)
      = distance_of_time_in_words_to_now(reply.created_at, :prefix => 'wrote')
      %div= h reply.body
  -else
    %td.avatar.thumb.small
      &nbsp;
    %td.avatar.thumb.small
      = avatar_image_tag(reply.sender.profile.avatar, :style => :thumb, :class => 'small')
    %td.envelope
      = link_to_profile(reply.sender, :label => reply.sender.first_name)
      = distance_of_time_in_words_to_now(reply.created_at, :prefix => 'wrote')
      %div= h reply.body

- if reply.children.empty? && (render_form_after_leaf != false)
  %tr{ :id => "new_#{dom_id(reply.root)}_thread" }
    %td{ :colspan => '3' }
      = render :partial => 'messages/new', :locals => { :message => reply, :subject => false }
- else
  = render :partial => "messages/reply", :collection => reply.children, :locals => { :originator => originator, :render_form_after_leaf => render_form_after_leaf }
