- content_tag_for(:div, reply, :class => ([ 'posting', cycle('left', 'right', :name => 'posting_message') ] * ' ')) do
  %table
    %tr
      %td= thumb_image_tag(reply.sender.profile.avatar) rescue nil
      %td
        From&nbsp;
        = link_to_profile(reply.sender)
        = distance_of_time_in_words_to_now(reply.created_at)
        %p= h reply.body
= render :partial => "messages/reply", :collection => reply.children
