<table class='user-info' cellspacing="10">
	<tr>
		<td class='label'>Deafness</td>
		<td class='detail'><%= basic.deafness %></td>
	</tr>
	<tr>
		<td class='label'>Gender</td>
		<td class='detail'><%= basic.gender %></td>
	</tr>
	<tr>
		<td class='label'>Orientation</td>
		<td class='detail'><%= basic.orientation %></td>
	</tr>
	<tr>
		<td class='label'>Relationship</td>
		<td class='detail'><%= basic.relationship %></td>
	</tr>
	<tr>
		<td class='label'>Birthday</td>
		<td class='detail'><%= basic.dob %></td>
	</tr>
	<tr>
		<td class='label'>Location</td>
		<td class='detail'><%= basic.location %></td>
	</tr>
	<tr>
		<td class='label textarea about_me'>About Me</td>
		<td class='detail'><%= basic.about_me %></td>
	</tr>
</table>
