= form_for person, :url => profile_path do |f|
  .headshot-container
    .headshot
      .face
        .pane
          %table.biometrics
            %tr
              %td.label First Name
              %td.detail= f.text_field :handle, :placeholder => 'first name', :maxlength => 12
            %tr
              %td.label Age
              %td.detail= f.text_field :age, :placeholder => 'age', :maxlength => 2
            %tr
              %td.label Birthday
              %td.detail= f.date_select :dob, { :order => [ :month, :day ], :discard_year => true, :use_short_month => true, :include_blank => true }
            %tr
              %td.label Location
              %td.detail= f.text_field :location, :placeholder => 'town or city, state', :maxlength => 20
            - current_site.biometric_domains.each do |domain|
              %tr{ :class => domain.name }
                %td.label
                  = domain.display_name
                %td.detail
                  = f.collection_select(domain.name.to_sym, domain.values, :id, :display_name, { :include_blank => true })
        .button-bar
          = link_to button_tag('Cancel', :type => 'button'), :back, :class => 'button'
          = f.submit 'OK', :button => true
          