= form_for person, :url => profile_path do |f|
  .headshot-container
    .headshot
      .face
        .pane
          %table.biometrics
            %tr
              %td.label First Name
              %td.detail= f.text_field :handle, :placeholder => 'first name', :maxlength => 12
            %tr
              %td.label Age
              %td.detail= f.text_field :age, :placeholder => 'age', :maxlength => 2
            %tr
              %td.label Birthday
              %td.detail= f.date_select :dob, { :order => [ :month, :day ], :discard_year => true, :use_short_month => true, :include_blank => true }
            %tr
              %td.label Location
              %td.detail= f.text_field :location, :placeholder => 'town or city, state', :maxlength => 20
            - current_site.biometric_domains.each_with_index do |domain, idx|
              %tr{ :class => domain.name }
                %td.label
                  = domain.display_name
                %td.detail
                  = select_tag "person[biometric_values_attributes][#{domain.id}]", |
                    options_for_select([[ '', nil ]] + domain.values.collect {|v| [ v.display_name, v.id ] }, person.biometric_value_id(domain))
        .button-bar
          = link_to 'Cancel', profile_path, :class => 'button'
          = f.submit 'OK', :button => true
          