- javascript 'wave'
.wave.profile.grid_16
  %table
    %tr
      %td.avatar.portrait= render :partial => 'postings/posting', :object => wave.avatar
      %td.detail= render :partial => 'basic', :object => wave.user.info
- unless wave.photos.empty?
  %div
    %h2 Photos of #{@profile.user.first_name}      
    = render :partial => 'postings/posting', :collection => wave.photos
- if false
  %div
    %h2 #{@profile.user.first_name}&#8217;s Updates
    = render :partial => 'postings/posting', :collection => wave.postings
