<% stylesheet 'profiles' %>
<div class='profile wave grid_12'>
	<div id="tabs">
		<ul>
		   <li><a href="#home" class='current'>Home</a></li>
		   <li><a href="#avatar">Avatar</a></li>
		   <li><a href="#about">About Me</a></li>
		   <li><a href="#photos">Photos</a></li>
		   <li><a href="#buddies">Buddies</a></li>
		   <% if false %><li><a href="#links">Links</a></li><% end %>
		</ul>
		
		<div id='home' class='tab_content grid_16 alpha omega'>
			<h1><%= current_user.first_name.humanize %>&#146;s Wave</h1>
			<% if @profile.postings.empty? %>	
				<h3>Do something with your profile to meet friends!</h3>
			<% else %>
 				<%= render :partial => 'postings/posting', :collection => [ @profile.avatar ] %>
				<%= render :partial => 'basic' %>
			<% end %>
		</div>
					
		<div id='avatar' class='tab_content grid_16 alpha omega'>	
			<h1><%= current_user.first_name.humanize %>&#146;s&nbsp;Avatar</h1>
			<% form_for Posting::Avatar::new,
						:url  => profiles_path(:format => :js),
						:html => { :multipart => true, :target => 'upload_frame' } do |f| %>
				<%= hidden_field_tag 'posting_type', 'posting_avatar',
						:id    => 'posting_avatar_type',
						:style => 'margin:0;padding:0;display:inline' %>
				<div id='avatar_upload_error' class='hidden'></div>
				<div id='avatar_upload_well' class='append-bottom clearfix'>
					<%= render :partial => 'edit_avatar', :object => current_user.profile.avatar %>
				</div>
				<div class='button_bar'><%= f.file_field :image %><%= f.submit 'Upload', :id => 'avatar_upload_submit' %><%= spinner %></div>
			<% end %>
		</div>
		
		<div id="about" class='tab_content grid_16 alpha omega'>
			<h1>About Me</h1>
			<%= render :partial => 'edit_basic' %>
		</div>

		<div id="photos" class='tab_content grid_16 alpha omega'>
			<h1>Photos of <%= current_user.first_name.humanize -%></h1>
			<% form_for Posting::Photo::new,
						:url  => profiles_path(:format => :js),
						:html => { :multipart => true, :target => 'upload_frame' } do |f| %>
				<%= hidden_field_tag 'posting_type', 'posting_photo',
						:id    => 'posting_photo_type',
						:style => 'margin:0;padding:0;display:inline' %>
				<div id='photo_upload_error' class='hidden'></div>
				<div id='photo_upload_well' class='append-bottom clearfix'>
					<%= render :partial => 'edit_photo', :collection => current_user.profile.photos %>
				</div>
				<div class='button_bar'><%= f.file_field :image %><%= f.submit 'Upload', :id => 'photo_upload_submit' %><%= spinner %></div>
			<% end %>
		</div>

		<div id="buddies" class='tab_content grid_16 alpha omega'>
			<h1><%= current_user.first_name.humanize -%>&#146;s&nbsp;Buddies</h1>
		</div>

		<div id="links" class='tab_content grid_16 alpha omega'>
			<h1>Links</h1>
		</div>		
	</div>
	<iframe id='upload_frame' name="upload_frame" width='1' height='1' style='border:0px' src='about:blank'></iframe>
</div>

<% javascript_tag do %>
	jQuery(document).ready(function($){		
		// $('.button_bar button:submit').button({ icons: { primary: 'ui-icon-check' }});		
		$('#tabs li:eq(0)').button({ text: false, icons: { primary: 'ui-icon-home' }});			
		$('#tabs li:eq(1)').button({ icons: { primary: 'ui-icon-person' }})	
		$('#tabs li:eq(2)').button({ icons: { primary: 'ui-icon-script' }});	
		$('#tabs li:eq(3)').button({ icons: { primary: 'ui-icon-image' }});
		$('#tabs li:eq(4)').button({ icons: { primary: 'ui-icon-heart' }});
		$('#tabs li:eq(5)').button({ icons: { primary: 'ui-icon-link' }});
		
		$('#tabs div.tab_content:first')
			.show()
			.siblings('div.tab_content')
			.hide();
		
		$('#tabs ul li').click(function(){
			if (!$(this).hasClass('current')) {
				$(this).addClass('current').siblings('li.current').removeClass('current');
				$($(this).find('a').attr('href')).show().siblings('div.tab_content').hide();
				this.blur();
				return false;
			}
		});
		
		// jQuery('#upload_submit').click(function(){
			// jQuery('#spinner').show();
		// });
		
		$('#tabs ul li:first a').click();
	});	
<% end %>
