- stylesheet 'wave'
- stylesheet 'profiles'

- javascript 'wave'

.wave.profile[@wave]
  .grid_3.fixed
    .avatar= render :partial => 'avatars/portrait', :object => @wave.avatar
  .grid_12
    - if @wave.user == current_user
      #tabs
        %ul
          %li
            %a{:href => "#wave"} Wave
          %li
            %a{:href => "#avatar"} Avatar
          %li
            %a{:href => "#about"} About Me
          %li
            %a{:href => "#photos"} Photos
          %li
            %a{:href => "#buddies"} Buddies
          %li.ajax
            %a{:href => "#links"} Links
      :javascript
        jQuery(document).ready(function($){
          // $('.button_bar button:submit').button({ icons: { primary: 'ui-icon-check' }});
          $('#tabs li:eq(0)').button({ text: false, icons: { primary: 'ui-icon-home' }});
          $('#tabs li:eq(1)').button({ icons: { primary: 'ui-icon-person' }})
          $('#tabs li:eq(2)').button({ icons: { primary: 'ui-icon-script' }});
          $('#tabs li:eq(3)').button({ icons: { primary: 'ui-icon-image' }});
          $('#tabs li:eq(4)').button({ icons: { primary: 'ui-icon-heart' }});
          $('#tabs li:eq(5)').button({ icons: { primary: 'ui-icon-link' }});
        });

    - else
      #tabs
        %ul
          %li
            %a{:href => "#wave"} Wave
          %li
            %a{:href => "#photos"} Upload Photos
          %li
            %a{:href => "#hottie"} Make Hottie
          %li
            %a{:href => "#be_buddies"} Be Buddies
      :javascript
        jQuery(document).ready(function($){
          $('#tabs li:eq(0)').button({ text: false, icons: { primary: 'ui-icon-home' }});
          $('#tabs li:eq(1)').button({ icons: { primary: 'ui-icon-image' }});
          $('#tabs li:eq(2)').button({ icons: { primary: 'ui-icon-star' }});
          $('#tabs li:eq(3)').button({ icons: { primary: 'ui-icon-heart' }});
        });

    %h1
      #{@wave.user.first_name}&#8217;s Wave

    %p.flash= flash[:notice]

    - if @wave.postings.empty?
      .empty_wave
        %h3
          - if @wave.user == current_user
            Do something with your profile to meet friends!
          - else
            = @wave.user.first_name
            hasn't done anything with their profile. Put something here for them!
    - else

      #avatar.tab_content
        %h2 Upload an Avatar
        - form_for Posting::Avatar::new, :url  => avatars_path(:format => :js), :html => { :multipart => true, :target => 'upload_frame' } do |f|
          #avatar_upload_error.hidden
          #avatar_upload_well.append-bottom.clearfix
            = render :partial => 'avatars/edit', :object => current_user.profile.avatar
          .button_bar
            = f.file_field :image
            = f.submit 'Upload', :id => 'avatar_upload_submit'
            = f.button :Cancel, :class => 'cancel'
            = spinner

      #about.tab_content
        = render :partial => 'user_info/edit'

      #photos.tab_content
        %h3 Upload Photos to #{current_user.first_name}'s Wave
        - form_for Posting::Photo::new, :url => profile_photos_path(:profile_id => current_user.profile, :format => :js), :html => { :multipart => true, :target => 'upload_frame' } do |f|
          #photo_upload_error.hidden
          #photo_upload_well.append-bottom.clearfix
            = render :partial => 'photos/edit', :collection => current_user.profile.photos
          .button_bar
            = f.file_field :image
            = f.submit 'Upload', :id => 'photo_upload_submit'
            = f.button :Cancel, :class => 'cancel'
            = spinner

      #buddies.tab_content
        - if current_user != @wave.user
          %h3= current_user.first_name + '&#8217;s Buddies'

      #links.tab_content
        %h3 Links

      %iframe#upload_frame{:height => "1", :name => "upload_frame", :src => "about:blank", :style => "border:0px", :width => "1"}

      .postings
        = render :partial => 'user_info/user_info', :object => @wave.user.info

        - unless @wave.photos.empty?
          %div
            %h2 Photos of #{@wave.user.first_name}
            = render :partial => 'postings/posting', :collection => @wave.photos

        - if false
          %div
            %h2 #{@wave.user.first_name}&#8217;s Updates
            = render :partial => 'postings/posting', :collection => @wave.postings
  .grid_1
    &nbsp;

:javascript
  jQuery(document).ready(function($) {
    $('div.tab_content').hide();
    $('button.cancel').click(function(event){
      $(this).closest('.tab_content').hide();
      event.preventDefault();
    });
    $('#tabs ul li').click(function(event) {
      if (!$(this).hasClass('current')) {
        $(this)
          .addClass('current')
          .siblings('li.current')
          .removeClass('current');
        $($(this)
          .find('a')
            .attr('href'))
            .show()
            .siblings('div.tab_content')
            .hide();
        this.blur();
        event.preventDefault();
      }
    });

    // $('#tabs ul li:first-child').click(function(){
    //  $('#home').load('<%= home_profile_path(current_user.profile) %>');
    // });

    // jQuery('#upload_submit').click(function(){
    //   jQuery('#spinner').show();
    // });

    // $('#tabs ul li:first a').click();
  });
