- friend = buddy.resource.friend
.posting[buddy]
  %table
    %tr
      %td.avatar.portrait= portrait_image_tag(friend)
      %td
        %h3 Buddy with #{link_to_profile(friend)}
        %p= distance_of_time_in_words_to_now(buddy.created_at)    
        - friend.profile.photos.each do |photo|
          = image_tag(photo.image.url(:small), :site => false, :class => 'photo small fluid')
        = render :partial => 'comments/comment', :collection => buddy.children.comments
        %div{:id => "posting_#{buddy.id}_new_comment_well"}
        = render :partial => 'comments/new', :locals => { :parent_id => buddy.id }
  = render_postings(buddy.children.postings)
  