.header.primary.grid_16
  %ul.nav
    %li#nav-wave{ :class => "#{'current' if current_page?(:controller => 'base', :action => 'show')}" }
      = link_to 'Wave', root_path
    -# %li#nav-inbox
    -#  = link_to 'Inbox', '#'
    %li#nav-profile{ :class => "#{'current' if current_page?(:controller => '/waves/polaroids', :action => 'index')}" }
      = link_to 'Profiles', waves_polaroids_path
    -# %li#nav-edit_profile
      =# link_to 'My profile', profile_path
    -# %li#nav-logout
      =# link_to 'Logout', logout_path

- if current_user
  .header.secondary.grid_16
    - if flash[:notice].present?
      .flash= flash[:notice]
    %div.links
      = link_to 'Logout', logout_path
      = link_to "#{current_user.first_name}'s Profile", profile_path

