- content_for :polaroid_back_face do
  .button-bar
    #{link_to 'Edit', edit_profile_path, :class => 'edit button'}

= render :partial => 'postings/avatars/polaroid_back_face', :locals => { :avatar => @wave.avatar }
.face-container.hidden
  .back.face
    .content.scrollable
      .items
        %table.header
          %tr
            %td.avatar
              = avatar_image_tag(avatar, :style => :thumb)
            %td.username<
              = avatar.user.first_name
            %td.age<
              = f.text_field :age, :placeholder => 'age', :class => 'ui-widget'
        %div
          %table.detail
            %tr
              %td.label Deafness
              %td.detail= f.select(:deafness, UserInfo::Deafness, :include_blank => true)
            %tr
              %td.label Gender
              %td.detail= f.select(:gender, UserInfo::Gender, :include_blank => true)
            %tr
              %td.label Orientation
              %td.detail= f.select(:orientation, UserInfo::Orientation, :include_blank => true)
            %tr
              %td.label Relationship
              %td.detail= f.select(:relationship, UserInfo::Relationship, :include_blank => true)
            %tr
              %td.label Birthday
              %td.detail
                = f.date_select :dob, { :order => [ :month, :day ], :discard_year => true },  { :class => 'date'}
            %tr
              %td.label Location
              %td.detail= f.text_field :location, :placeholder => false, :class => 'ui-widget'
    .button-bar
      = f.submit "OK"
      = link_to 'Cancel', profile_path, :class => 'cancel button'
                
:javascript
  $('div.button-bar a.button.edit').button({ icons: { primary: 'ui-icon-pencil' }, text: false }).click(function(event) {
    $('.back.face').closest('.face-container').toggle();
    return false;
  });
  
  $('div.button-bar .cancel').click(function() {
    $('.back.face').closest('.face-container').toggle();
    return false;
  });
