- stylesheet 'profiles'

.wave.header.grid_16
  %h1
    #{@wave.user.first_name}&#8217;s Profile

.current_user.wave[@wave]
  .grid_2
    &nbsp;    
  .grid_6
    .polaroid.edit
      = render :partial => 'posting/avatars/polaroid_front_face', :locals => { :avatar => @wave.avatar }
  .grid_6
    .polaroid.edit
      = render :partial => 'posting/avatars/polaroid_back_face', :locals => { :avatar => @wave.avatar }  
  .grid_2

- if false
  .wave[@wave]
    .grid_3.sidebar
      = spinner :id => 'posting_avatar_spinner', :size => :big
      = render :partial => 'avatars/portrait', :object => @wave.avatar, :locals => { :online_badge => false }
      = render :partial => 'user_info/user_info', :object => @wave.user.info
      &nbsp;

    .grid_12
      - if @wave.user == current_user
        #tabs
          %ul
            %li
              %a{:href => "#avatar"} Avatar
            %li
              %a{:href => "#about"} About Me
            %li
              %a{:href => "#text"} Text
            %li
              %a{:href => "#photo"} Photo
            %li
              %a{:href => "#link"} Link
            - if false
              %li
                %a{:href => "#buddy"} Buddies
            
        - content_for :pagejs do
          :plain
            $('#tabs li:eq(0), #tabs li:eq(1)').click(function() {
              $('.sidebar .posting').hide();
            });

            $('#tabs li').not('#tabs li:eq(0), #tabs li:eq(1)').click(function() {
              $('.sidebar .posting').show();
            });
          
            $('#tabs li:eq(0)').button({ icons: { primary: 'ui-icon-person' }})
            $('#tabs li:eq(1)').button({ icons: { primary: 'ui-icon-script' }});
            $('#tabs li:eq(2)').button({ icons: { primary: 'ui-icon-pencil' }});
            $('#tabs li:eq(3)').button({ icons: { primary: 'ui-icon-image' }});
            $('#tabs li:eq(4)').button({ icons: { primary: 'ui-icon-link' }});
            // $('#tabs li:eq(5)').button({ icons: { primary: 'ui-icon-heart' }});

      - elsif current_user
        #tabs
          %ul
            %li
              %a{:href => "#text"} Text
            %li
              %a{:href => "#photos"} Photo
            
            - unless current_user.has_friend?(@wave.user)
              %li
                %a{:href => "#make_buddy"} Make Buddy

        - content_for :pagejs do
          :plain
            $('#tabs li:eq(0)').button({ icons: { primary: 'ui-icon-pencil' }});
            $('#tabs li:eq(1)').button({ icons: { primary: 'ui-icon-image' }});
            $('#tabs li:eq(2)').button({ icons: { primary: 'ui-icon-heart' }});

      %h1
        #{@wave.user.first_name}&#8217;s Wave

      - if @wave.user == current_user
        #avatar.tab_content
          %h2 Upload an Avatar        
          = render :partial => 'avatars/edit', :locals => { :online_badge => false }
          = render :partial => 'avatars/form'
          - content_for :pagejs do
            :plain
              $('form#new_posting_avatar').submit(function(){   
                $(this).closest('.tab_content').hide();
                $('#posting_avatar_spinner').show();
              })
              .find('button.cancel').click(function(event){
                event.preventDefault();              
                $('.sidebar .posting').show();
              });
        
      - if @wave.user == current_user
        #about.tab_content
          = render :partial => 'user_info/edit'
          - content_for :pagejs do
            :plain
              $('form.edit_user_info').submit(function(){
                $(this).closest('.tab_content').hide();
              })
              .find('button.cancel').click(function(event){
                event.preventDefault();
                $('.sidebar .posting').show();
              });
        
      - if current_user
        #text.tab_content
          - label = 'Write a Message on ' + ((@wave.user == current_user) ? 'Your' : "#{@wave.user.first_name}&#8217;s") + ' Wave'
          = render :partial => 'posting/texts/new', :locals => { :label => label, :wave => @wave }

      - if current_user
        #photo.tab_content
          - label = 'Upload a Photo to ' + ((@wave.user == current_user) ? "Your" : "#{@wave.user.first_name}&#8217;s") + ' Wave'
          = render :partial => 'photos/form', :locals => { :label => label, :wave => @wave }

      - if @wave.user == current_user
        #link.tab_content
          = render :partial => 'links/form', :locals => { :label => 'Add a Link to Your Wave', :wave => @wave }
          - content_for :pagejs do
            :plain        
              $('#link.tab_content form').submit(function(event){
                event.preventDefault();
                FF.scrubPlaceholders(this);
                jQuery.ajax({
                  data: jQuery.param(jQuery(this).serializeArray()),
                  dataType: 'script',
                  cache: false,
                  type: 'post',
                  url: '#{wave_links_path(:wave_id => @wave)}',
                  success: function() {
                    $('#link.tab_content form').reset().closest('.tab_content').hide();
                    $('ul#tabs li.current').removeClass('current');
                  }
                });      
              });
            
      - if @wave.user == current_user
        #buddy.tab_content
          %h3= @wave.user.first_name + '&#8217;s Buddies'
    
      - if current_user && current_user != @wave.user
        #make_buddy.tab_content
          %h3 Make #{@wave.user.first_name} a Buddy?
          = button_tag 'Yes, Please!', :class => 'submit'
          = button_tag 'Cancel', :class => 'cancel'
        - content_for :pagejs do
          :plain
            $('#make_buddy.tab_content button[class=submit]').button({ icons: { primary: 'ui-icon-check' }}).click(function(){
              jQuery.ajax({
                data: jQuery.param({ 'friend_id': '#{@wave.user.id}' }),
                dataType: 'script',
                cache: false,
                type: 'post',
                url: '#{friendships_path}'
              });
            });

      %iframe#upload_frame{:height => "1", :name => "upload_frame", :src => "about:blank", :style => "border:0px", :width => "1"}
    
      - if @wave.postings.exclude(Posting::Avatar).empty?
        .postings.empty
          %h3
            - if @wave.user == current_user
              You'll want to meet new friends, right? Put something on your wave! 
            - else
              = @wave.user.first_name
              hasn't done anything with their wave.
              - if current_user
                Put something here for them!
      - else
        #postings
          = render :partial => 'postings/posting', :collection => @wave.postings.exclude(Posting::Avatar)

    .grid_1
      &nbsp;

  :javascript
    jQuery(function($){
      $('div.tab_content').hide();
      $('.tab_content button.cancel').click(function(event){
        event.preventDefault();
        $(this).closest('.tab_content').hide();
      });

      $('#tabs li').click(function(event) {
        event.preventDefault();
        $($(this).find('a').attr('href')).show().siblings('div.tab_content').hide();
      });
    });
