<%= content_tag_for(:div, message, :class => 'prefix_4 grid_9 suffix_3 thread alpha omega') do %>
	<div class='grid-16 message alpha omega'>
		<%= avatar_image_tag(message.sender.avatar, :class => 'small') -%>
		<div class='full_name'><%= message.sender.full_name -%></div>
		<div class='created_at'><%= time_ago_in_words(message.created_at) -%>&nbsp;ago</div>
		<div class='body'><%= textilize(message.body) -%></div>
	</div>
<% end %>
