<% thread.flatten! %>
<% head = thread.shift %>

<%= content_tag_for(:div, head) do %>
	<div class='grid_4 alpha'>
		<%= avatar_image_tag(head.sender.avatar) -%>
		<div class='full_name'><%= head.sender.full_name -%></div>
		<div class='created_at'><%= time_ago_in_words(head.created_at) -%>&nbsp;ago</div>
	</div>
	<div class='grid_9 body'>
		<%= textilize(head.body) -%>
		<div class='reply' class='grid_16 alpha omega' style='display:none'>
			<%= avatar_image_tag(current_user.avatar, :class => 'small') %>			
			<% form_for @reply, :url => message_reply_url(head) do |f| %>
				<%= f.text_area :body, :class => 'grid_16 alpha omega' %>
				<%= f.submit 'Send' %>
			<% end %>
		</div>
	</div>
	<div class='omega grid_3 actions'>
		<button class='pencil'>Pencil</button>
		<%= button_tag_if(thread.length > 1, 'View', :class => 'view') %>
		<button class='delete'>Delete</button>		
	</div>
	<%= render :partial => 'message', :collection => thread %>	
<% end %>

<% javascript_tag do %>
	jQuery("#<%= dom_id(head) %> .reply form").submit(function(event){
		event.preventDefault();
		jQuery.ajax({
			data: jQuery.param(jQuery(this).serializeArray()) + '&authenticity_token=' + encodeURIComponent('<%= form_authenticity_token -%>'),
			dataType: 'xml',
			type: 'post',
			url: '<%= message_reply_url(head) -%>',
			success: function(html, status) {
				alert('success!');
			},
			error: function(xhr, status, errorThrown) {
				alert('error:' + (errorThrown ? errorThrown : xhr.status));
			}
		});
		// alert('<%= dom_id(head) %>');
	});
<% end %>
