:plain    
  Hey #{posting_message.receiver.display_handle},

  You have a new message from #{posting_message.sender.display_handle}.

  To get your message, click the following link:

  #{inbox_url(:host => @host)}

  You can view their profile at:

  #{wave_profile_url(posting_message.user.profile, :host => host, :only_path => false)}

  #{render :partial => 'layouts/shared/featured_personages', :object => featured_personages, :locals => { :host => host }}
