!!! html
%html
  %head
    :css
      h1 { font-size: 1em; }
  %body
    %p
      = "Hey #{@message.receiver.handle(@message.site)},"
    %p
      = "You have a new message from #{@message.sender.handle(@message.site)}."
      To get your message, click the following link:
    %p
      = inbox_url # wave_conversation_url(@conversation)
    %p
      To unsubscribe from these messages, send an email to michael@friskyhands.com, and we'll remove you right away.
    %p
      Frisky Factory, LLC
      %br
        151 First Ave, Suite 205
      %br
        New York, NY 10003
