!!! html
%html
  %head
    :css
      h1 { font-size: 1em; }
  %body
    %p
      = "Hey #{@user.handle(@site)},"
    %p
      A request was made to reset your #{@site.display_name} password. To do so, click the following link:
    %p
      = edit_password_url(:id => @user.perishable_token, :host => @host)
    %p
      (If you didn't request to reset your password, you can safely ignore this email).
    %p
      If you're still having trouble, email #{mail_to "michael@friskyfactory.com"}
