!!! html
%html
  %head
    :css
      h1 { font-size: 1em; }
  %body
    %p
      = "Hey #{@user.handle(@current_site)},"
    %p
      A request was sent to #{@current_site.name} to reset your FriskyHands' password. To do so, click the following link:
    %p
      = edit_password_url(:id => @user.perishable_token, :host => "#{@current_site.name}.com")
    %p
      (If you didn't request to reset your password, you can safely ignore this email).
    %p
      If you're still having trouble, email #{mail_to "michael@friskyfactory.com"}
