= form_for new_posting_video, :url => wave_posting_videos_path(@wave), :html => { :class => 'new_posting new_posting_video' }, :remote => true do |f|
  = f.resolve resolver  
  #posting_video_upload_well.video_player
  .button-bar
    = f.text_field :url, :placeholder => 'http://www.youtu.be/...'
    = f.submit 'OK'
    = f.button 'Cancel', :class => 'cancel'
