.posting.posting_video.form
  = form_for new_posting_video, :url => wave_posting_videos_path(@wave), :remote => true do |f|
    = hidden_field_tag :resolver, controller_name
    #posting_video_upload_well.video_player
    .button-bar
      = f.text_field :url, :placeholder => 'http://www.youtu.be/...'
      = f.submit 'OK'
      = f.button 'Cancel', :class => 'cancel'
