= form_for Posting::Video.new, :url => wave_posting_videos_path(wave), :remote => true, :html => { :class => 'new_posting_link new_post_frame' } do |f|
  = f.resolve resolver
  .new_post.link
    .body
      = f.text_field :url, :placeholder => 'http://www.youtu.be/...'
    .foot
      = f.sticky_until if current_user.admin?
      = f.submit 'Post'
      = f.cancel 'Cancel'
      =# image_tag('friskyfactory/ajax-loader-small.gif', :site => false, :class => 'spinner', :style => 'visibility:hidden')
