- user = video.user
.post_frame.posting[ video ]{ uid(video[:user_id]) }
  .post.video
    = link_to_unpublish(video)
    .portrait= thimble_link_to_profile(user, :remote => true)
    .clear.video_player.youtube_video_player{ :'data-vid' => video.body }
      = link_to_youtube_video_image(video)
      = posted_distance_of_time(video)
      = link_to_comments(video.children.type(Posting::Comment).published.count, posting_comments_path(video))
  .reaction
