#sidebar
  #head
    = link_to image_tag('logo.png', :site => true), root_path

  - if false
    .block.adspace
      %img{:src => "http://placehold.it/180x75"}

  .block.userspace
    .portrait      
      = thimble_link_to_profile(current_profile, profile_path)
    %span.greeting Welcome,
    %span.username
      = link_to current_profile.handle, profile_path
      = "(#{current_user.id}:#{current_user.person.id}:#{current_profile.id})" if Rails.env.development?

  .block.navspace
    %ul
      - if current_user.present?
        %li.personal
          = link_to "#{current_profile.handle}'s Wave", wave_profile_path(current_profile)
      %li.home
        = link_to 'Community Wave', root_path
      - if false
        %li.rollcall
          = link_to 'Roll Call', wave_rollcall_path(params[:id] || current_site.home_wave, :page => params[:page])
          %ul
            %li 28 users
            %li 528 posts
            %li Last activity: Yesterday
      %li.messages
        = link_to_unread_messages
        = link_to 'Inbox', inbox_path
      - if false
        %li.invites
          = link_to 'Invitations', invitations_path
      %li.account
        = link_to 'Profile', profile_path
      %li.logout
        = link_to 'Logout', logout_path, :method => :delete

      - if false
        %li.personal
        %li.buddies
  - if false
    %input{:name => "search", :placeholder => "Search...", :type => "text"}/

  - if content_for? :rollcall
    .block.rollcall
      = content_for :rollcall

  = render_ambassadors_list

  - if content_for? :tag_cloud
    .block.tag_cloud
      = content_for :tag_cloud