#sidebar
  #head= link_to image_tag('logo.png', :site => true), root_path

  = render_sidebar_adspace
  = render_sidebar_userspace

  = render_sidebar_home_user
  = render_sidebar_ambassadors_list
  = render_sidebar_communities_list
  = render_sidebar_places_list

  = render_sidebar_search
  = render_sidebar_rollcall
  = render_sidebar_headshot
  = render_sidebar_tag_cloud
  = render_sidebar_navspace
