#sidebar
  #head
    = link_to image_tag('logo.png', :site => true), root_path

  - if false
    .block.adspace
      %img{:src => "http://placehold.it/180x75"}

  - if current_user
    .block.userspace
      .portrait
        = thimble_link_to_profile(current_user, profile_path(current_user), :class => 'current_user')
      %span.username
        = personages_select_tag(current_user)
        = link_to 'Edit', current_profile_path, :class => 'edit_profile'

  .block.ambassador
    .portrait= thimble_image_tag(current_site.home_user)
    = link_to current_site.home_wave.subject, root_path

  = render_sidebar_headshot
  = render_ambassadors_list

  .block.navspace
    %ul
      %li.messages
        = link_to_unread_messages
        = link_to 'Inbox', inbox_path
      - if false
        %li.invites
          = link_to 'Invitations', invitations_path
      %li.logout
        = link_to 'Logout', logout_path, :method => :delete
      - if content_for? :sidebar_menu
        = content_for :sidebar_menu

  - if false
    %input{:name => "search", :placeholder => "Search...", :type => "text"}/

  - if content_for? :rollcall
    .block.rollcall
      = content_for :rollcall

  - if content_for? :tag_cloud
    .block.tag_cloud
      = content_for :tag_cloud
