#sidebar
  #head
    = link_to image_tag('logo.png', :site => true), root_path
  - if false
    .block.adspace
      %img{:src => "http://placehold.it/180x75"}
  .block.userspace
    .portrait      
      = thimble_link_to_profile(current_profile, profile_path)
    %span.greeting Welcome,
    %span.username= link_to current_profile.handle, profile_path
  .block.navspace
    %ul
      %li.home
        = link_to 'Community', root_path        
      %li.rollcall
        = link_to 'Roll Call', rollcall_wave_community_path(wave, :page => params[:page])
        - if false
          %ul
            %li 28 users
            %li 528 posts
            %li Last activity: Yesterday
      %li.messages
        = link_to_unread_messages_unless_inbox
        = link_to 'Inbox', inbox_path
      - if false
        %li.personal
        %li.invites
        %li.buddies
  - if false
    %input{:name => "search", :placeholder => "Search...", :type => "text"}/