- if current_user
  .posting.posting_comment
    %table
      %tr
        %td.avatar
          = thumb_image_tag(current_user.profile.avatar, :class => 'hidden')
        %td
          - form_for Posting::Comment::new(:body => ''), :url => posting_comments_path(:posting_id => parent_id), :html => { :id => "posting_#{parent_id}_new_comment" }  do |f|
            = f.text_area :body, :placeholder => 'Add a comment'          
            = f.submit 'Send', :class => 'hidden'  
  :javascript
    jQuery(document).ready(function($){
      $('#posting_#{parent_id}_new_comment')
        .find('button:submit')
          .button()
        .end()
        .submit(function(){
          $.ajax({
            data: jQuery.param(jQuery(this).serializeArray()),
            dataType: 'script',
            type: 'post',
            url: '#{posting_comments_path(:posting_id => parent_id)}',
            success: function(response, status){
              $('#posting_#{parent_id}_new_comment')
                .find('textarea').blur();
            }
          });  
          return false;
        });
    });
