- stylesheet 'admin'
- unless @postings.empty?
  .grid_14.push_1.admin.canvas.invitation
    %table
      %tr
        %th Inviter
        %th Code
        %th Created
        %th State
        %th Expiration
        %th &nbsp;
      - @postings.each do |posting|
        %tr
          %td= posting.user.handle(current_site)
          %td= posting.code
          %td= posting.created_at.to_date.to_s(:long)
          %td= posting.state.titleize
          %td n/a
          %td.actions
            = link_to 'Edit', edit_admin_invitation_universal_path(posting)
            = link_to 'Delete', admin_invitation_universal_path(posting), :confirm => 'Are you sure?', :method => :delete
    .button-bar
      = link_to('Add Universal Invitation', new_admin_invitation_universal_path)

