.post_it.attachment<
  .content<
    = avatar_image_tag(post_it.user, :style => :thumb, :align => 'left', :anonymous => false, :gender => post_it.user.user_info.gender)
    .header
      = link_to_profile(post_it.user)
      - if post_it.created_at?
        %span.created_at<
          = "posted #{distance_of_time_in_words_to_now(post_it.created_at)}".html_safe
    .subject
      = post_it.subject
