= form_for Posting::PostIt.new, :url => wave_posting_post_its_path(wave), :remote => true, :html => { :class => 'new_posting_post_it new_post_frame' } do |f|
  = f.resolve resolver
  .new_post.status
    = f.text_area :subject, :placeholder => "What's up?", :maxlength => 130
    .foot
      %span.counter 130 characters left
      = f.submit 'Post'
      = f.cancel 'Cancel'
