- post_it = Posting::PostIt.new(:user_id => current_user.id)
= form_for post_it, :url => wave_posting_post_its_path(:wave_id => wave.id), :remote => true do |f|
  %table
    %tr
      %td.avatar.thumb
        &nbsp;
      %td
        .post_it.form<
          = avatar_image_tag(current_user, :style => :thumb, :align => 'left', :anonymous => false, :gender => current_user.user_info.gender)
          %span= "Posted today by #{link_to_profile(current_user)}".html_safe
          = f.text_area :subject
        .button_bar
          = f.submit :OK, :disable_with => 'OK'
          = f.button :Cancel, :class => 'cancel'
          