- user = post_it.user
.post_frame
  .posting.post.status[post_it]{ uid(post_it[:user_id]) }
    = link_to_unpublish(post_it)
    .portrait= thimble_link_to_profile(user, :remote => true)
    .clear
      .cell
        = link_to_profile(user)
        \-
        %section.subject #{post_it.subject}
      = posted_distance_of_time(post_it)
      = link_to_comments(post_it.children.type(Posting::Comment).published.count, posting_comments_path(post_it))
  .reaction
