- user = post_it.user
.post_frame
  .posting.post.status[post_it]{uid(post_it[:user_id])}
    = link_to_unpublish(post_it)
    .portrait= thimble_link_to_profile(user)
    .clear
      .cell
        = link_to_profile(user)
        \- #{post_it.subject}
      %span.date Posted #{distance_of_time_in_words_to_now(post_it.created_at)} ago
      = link_to_comments(post_it.children.published.count, posting_comments_path(post_it))
  .reaction
