= form_for personage, :url => profile_path(personage) do |f|
  = hidden_field_tag :pane, params[:pane], :id => nil
  .headshot-container
    .headshot
      .face
        .pane
          = f.fields_for :persona, personage.persona do |persona_form|
            %table.biometrics
              %tr
                %td.label Name
                %td.detail= persona_form.text_field :handle, :placeholder => 'name', :maxlength => 20
              %tr
                %td.detail{ :colspan => '2' }
                  = persona_form.text_area :description, :placeholder => 'about the community', :maxlength => 200
        .button-bar
          = link_to 'Cancel', profile_path(personage), :class => 'cancel'
          = f.submit 'OK'
