- profile = personage.profile
- persona = personage.persona
- link_to_close_wave_id = local_assigns[:link_to_close_wave_id] || profile.id

.headshot-container
  .headshot[ profile ]{ :class => poke_class(profile.id) }
    .face-container
      .front.face
        = headshot_image_tag(profile)
        = link_to_close(link_to_close_wave_id)
        %span.handle
          = profile.handle
        %ul.buddy-bar.secondary
          - title = "#{persona.handle} Wave"
          %li= link_to title, wave_place_path(personage[:profile_id]), :class => 'icon profile', :title => title
    .face-container
      .back.face
        .content
          = link_to_close(link_to_close_wave_id)
          .pane
          .portrait= link_to thimble_image_tag(profile, :size => '18x18'), wave_profile_path(profile), :class => 'flip'
