- form_for current_user.info, :url => profile_path(current_user.info, :format => :js) do |f|
  %table{:cellspacing => "10"}
    %tr
      %td.label Deafness
      %td.detail= f.select(:deafness, UserInfo::Deafness, :include_blank => true)
    %tr
      %td.label Gender
      %td.detail= f.select(:gender, UserInfo::Gender, :include_blank => true)
    %tr
      %td.label Orientation
      %td.detail= f.select(:orientation, UserInfo::Orientation, :include_blank => true)
    %tr
      %td.label Relationship
      %td.detail= f.select(:relationship, UserInfo::Relationship, :include_blank => true)
    %tr
      %td.label Birthday
      %td.detail
        = f.date_select :dob, { :order => [ :month, :day, :year ], :start_year => (Time.now.year - 18), :end_year => (Time.now.year - 65) },  { :class => 'date'}
        %span.unobtrusive Your birth date is never displayed.
    %tr
      %td.label Age
      %td.detail= f.text_field :age, :placeholder => false, :class => 'ui-widget'
    %tr
      %td.label Location
      %td.detail= f.text_field :location, :placeholder => false, :class => 'ui-widget'
    %tr
      %td.label.textarea.about_me About Me
      %td.detail= f.text_area :about_me
    %tr.button_bar
      %td.label
        &nbsp;
      %td.detail
        = f.submit "Update"
        = f.button :Cancel, :class => 'cancel'
        = image_tag('icons/accept.png', :site => false, :class => 'ui_icon ui_icon_check hidden')
        = image_tag('icons/cancel.png', :site => false, :class => 'ui_icon ui_icon_cancel hidden')

- content_for :pagejs do
  :plain
    $('form.edit_user_info select').change(function() {
      $('form.edit_user_info .ui_icon').hide();
    });
    $('form.edit_user_info input, form.edit_user_info textarea').keypress(function() {
      $('form.edit_user_info .ui_icon').hide();
    });
    $('form.edit_user_info').submit(function(event) {
      jQuery.ajax({
        data: jQuery.param(jQuery(this).serializeArray()),
        dataType: 'script',
        cache: false,
        type: 'post',
        url:'/profiles/#{current_user.info.id}',
        success: function(data, status, request) {
          //if (data['errors'].length == 0) {
          //  $('form.edit_user_info .ui_icon_check').show();
          //  $('form.edit_user_info .button_bar button:submit');
          //} else {
          //  $('form.edit_user_info .ui_icon_cancel').show();
          //}
        }
      });
      return false;
    });
