- user_info = show
.posting[user_info]
  %table
    %tr
      %td.label Deafness
      %td.detail= user_info.deafness_description
    %tr
      %td.label Gender
      %td.detail= user_info.gender_description
    %tr
      %td.label Orientation
      %td.detail= user_info.orientation_description
    %tr
      %td.label Relationship
      %td.detail= user_info.relationship_description
    %tr
      %td.label Birthday
      %td.detail= user_info.dob.strftime('%e %B')
    %tr
      %td.label Age
      %td.detail= user_info.age
    %tr
      %td.label Location
      %td.detail= user_info.location
    %tr
      %td.label.detail{ :colspan => '2' }
        = user_info.about_me
