<table class='user-info' cellspacing="10">
	<tr>
		<td class='label'>Deafness</td>
		<td class='detail'><%= user_info.deafness_description %></td>
	</tr>
	<tr>
		<td class='label'>Gender</td>
		<td class='detail'><%= user_info.gender_description %></td>
	</tr>
	<tr>
		<td class='label'>Orientation</td>
		<td class='detail'><%= user_info.orientation_description %></td>
	</tr>
	<tr>
		<td class='label'>Relationship</td>
		<td class='detail'><%= user_info.relationship_description %></td>
	</tr>
	<tr>
		<td class='label'>Birthday</td>
		<td class='detail'><%= user_info.dob %></td>
	</tr>
	<tr>
		<td class='label'>Location</td>
		<td class='detail'><%= user_info.location %></td>
	</tr>
	<tr>
		<td class='label textarea about_me'>About Me</td>
		<td class='detail'><%= user_info.about_me %></td>
	</tr>
</table>
