.posting[user_info]
  - if user_info.deafness_description.present?
    %dl
      %dt Deafness
      %dd= user_info.deafness_description
  
  - if user_info.gender_description.present?
    %dl
      %dt Gender
      %dd= user_info.gender_description
    
  -if user_info.orientation_description.present?
    %dl
      %dt Orientation
      %dd= user_info.orientation_description
    
  - if user_info.relationship_description.present?
    %dl
      %dt Relationship
      %dd= user_info.relationship_description
    
  -if user_info.dob.present?
    %dl
      %dt.birthday Birthday
      %dd.birthday= user_info.dob.strftime('%e %B')
  
  - if user_info.age.present?
    %dl
      %dt.age Age
      %dd.age= user_info.age
    
  - if user_info.location.present?
    %dl
      %dt.location Location
      %dd.location= user_info.location
  
  - if user_info.about_me.present?
    %dl
      %dt About Me
      %dd= user_info.about_me      
