.posting[user_info]
  %dl
    %dt Deafness
    %dd= user_info.deafness_description
  %dl
    %dt Gender
    %dd= user_info.gender_description
  %dl
    %dt Orientation
    %dd= user_info.orientation_description
  %dl
    %dt Relationship
    %dd= user_info.relationship_description
  %dl
    %dt.birthday Birthday
    %dd.birthday= user_info.dob.strftime('%e %B')
  %dl
    %dt.age Age
    %dd.age= user_info.age
  %dl
    %dt.location Location
    %dd.location= user_info.location
  %dl
    %dt About Me
    %dd= user_info.about_me      
