- user = wave.user
- content_for :sidebar_headshot do
  = render_headshot(user)
#floating
#frame
  %h1 #{user.handle}
  = render :partial => 'layouts/shared/reaction-template'
  = render :partial => 'layouts/shared/nav'
  - postings.each do |posting|
    = render_posting(posting)
  = will_paginate postings, :class => 'pagination footer', :inner_window => 1, :outer_window => 1
  = render :partial => 'layouts/shared/unpublish_overlay'