- content_tag_for(:div, message_reply, :class => ([ 'posting', cycle('left', 'right', :name => 'message_reply') ] * ' '), :style => 'display:table') do
  %table
    %tr
      %td= thumb_image_tag(message_reply.sender.profile.avatar) rescue nil
      %td
        From&nbsp;
        = link_to_profile(message_reply.sender)
        &nbsp;Sent&nbsp;
        = distance_of_time_in_words_to_now(message_reply.created_at)
        &nbsp;ago
        %p= h(message_reply.body)
= render :partial => "postings/message_reply", :collection => message_reply.children
