!!! 5
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-type"}
    %title FriskyHands
    - if Rails.env.development?
      = stylesheet_link_tag 'uncompressed/reset', :media => 'screen'
      = stylesheet_link_tag 'uncompressed/forms', :media => 'screen'
      = stylesheet_link_tag 'uncompressed/960', :media => 'screen'
    - else
      = stylesheet_link_tag 'reset', :media => 'screen'
      = stylesheet_link_tag 'forms', :media => 'screen'
      = stylesheet_link_tag '960', :media => 'screen'
    
    = stylesheet_link_tag "#{current_site}/jquery-ui.css", :media => 'screen'
    = stylesheet_link_tag "#{current_site}/application", :media => 'screen'
    = stylesheet_link_tag "#{current_site}/welcome", :media => 'screen'
    /[if IE]
      = stylesheet_link_tag "#{current_site}/ie", :media => 'screen'

    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.js'
    = javascript_include_tag 'jquery.placeholder'
    = javascript_include_tag 'application'
    
  %body{ :class => "#{[ current_site, current_layout ].compact * ' '}" }
    .container.container_16.clearfix
      .prefix_3.grid_10.suffix_3
        = image_tag 'badge.png', :size => '520x220'
        %h1 Welcome!
        %h2 We&#146;ve been waiting for you.
      #creative.prepend-top.prefix_2.grid_12.suffix_2
        #blurb.grid_7.alpha
          - if flash[:errors]
            %p Oh no! Can you fix this?
            %ul.flash_errors
              - flash[:errors].each do |error|
                %li= error
          - else
            %h4 FriskyHands is the social networking site designed especially for the Deaf GLBTQ Community and their Friends.
            %p Your privacy and safety is our number-one concern. No search engine nor any other web site can access your FriskyHands' secured profile.
        .grid_5.omega
          #login
            %h3 Log in, right now
            = form_for UserSession.new, :url => user_sessions_path do |f|
              = f.text_field :email
              = f.error_message_on :email, :prepend_text => 'Your email address '
              = f.password_field :password
              = f.error_message_on :password, :prepend_text => 'Your password '
              = f.submit 'Login'
              = f.button 'Sign Up', :class => 'toggle'
              = link_to 'Lurk…', lurk_new_user_session_path, :class => 'button'
          #signup
            %h3 Sign up, right now
            = form_for User.new, :url => users_path do |f|
              = f.text_field :first_name, :class => 'ui-widget'
              = f.error_message_on :first_name, :prepend_text => 'Your first name '
              = f.text_field :last_name, :class => 'ui-widget'
              = f.error_message_on :last_name, :prepend_text => 'Your last name '
              = f.text_field :email, :class => 'ui-widget'
              = f.error_message_on :email, :prepend_text => 'Your email address '
              = f.password_field :password, :class => 'ui-widget'
              = f.error_message_on :password, :prepend_text => 'Your password '
              = f.password_field :password_confirmation, :class => 'ui-widget'
              = f.error_message_on :password_confirmation, :prepend_text => 'Your password confirmation '
              = f.submit 'Register'
              = f.button 'Back', :class => 'toggle'
    .footer
      %p
        %span
          &copy;&nbsp;#{Date.today.year} Frisky Factory LLC, New York, NY
    = render(:partial => 'layouts/feedback') unless Rails.env.development?

  :javascript
    jQuery(function($){
      $('button[type=submit]').button({ icons: { primary: 'ui-icon-check' }});
      $('button[class=toggle], a[class=button]').button();
      #{flash[:errors].present? ? "$('#login').hide();" : "$('#signup').hide();"}

      if (!$.browser.webkit) {
        $('#user_session_password').before('#{text_field_tag( :user_session_password_placeholder, nil, :value => placeholder_for(:password), :class => 'placeholder ui-widget')}');
        FF.passwordPrompt('#user_session_password', '#user_session_password_placeholder');

        $('#user_password').before('#{text_field_tag( :user_password_placeholder, nil, :value => placeholder_for(:password), :class => 'placeholder ui-widget')}');
        FF.passwordPrompt('#user_password', '#user_password_placeholder');

        $('#user_password_confirmation').before('#{text_field_tag( :user_password_confirmation_placeholder, nil, :value => placeholder_for(:password_confirmation), :class => 'placeholder ui-widget')}');
        FF.passwordPrompt('#user_password_confirmation', '#user_password_confirmation_placeholder');

        $('input[type=password]').removeAttr('placeholder').hide();

        $('input[placeholder]').placeholder({ className: 'placeholder' }).addClass('placeholder');

        $('form#new_user_session, form#new_user').submit(function(){
          FF.scrubPlaceholders(this);
        });
      }

      $('button.toggle').click(function(event){
        event.preventDefault();
        $('div#login, div#signup').toggle();
      });
    });
