<% stylesheet 'welcome' %>
<% fixed_container %>
<div class='prefix_3 grid_10 suffix_3'>
	<%= image_tag 'logo-big-24t.png' %>
	<h1>Welcome!</h1>
	<h2>We&#146;ve been waiting for you.</h2>
</div>
<div id='creative' class='prepend-top prefix_2 grid_12 suffix_2'>
	<div id='blurb' class='grid_7 alpha'>
		<p>FriskyHands is the social networking site designed especially for the Deaf GLBTQ Community and their Friends</p>
	</div>
	<div class='grid_5 omega'>
		<div id='login' style='<%=flash[:signup] && "display:none" -%>'>
			<h3>Log in, right now</h3>
			<% form_for UserSession.new, :url => login_path do |f| %>
				<%= f.text_field :email %>
				<%= f.error_message_on :email, :prepend_text => 'Your email address ' %>
			  <%= f.password_field :password %>
				<%= f.error_message_on :password, :prepend_text => 'Your password ' %>
				<%= f.submit 'Login!' %>
				<%= f.button 'Sign Up!', :class => 'toggle' %>
				<%= f.button 'Just Lurk&hellip;', :class => 'lurk' %>
			<% end %>
		</div>
		<div id='signup' style='<%= !flash[:signup] && "display:none" -%>'>
			<h3>Sign up, right now</h3>
			<% form_for User.new, :url => register_path do |f| %>
				<%= f.text_field :first_name, :class => 'ui-widget' %>
				<%= f.error_message_on :first_name, :prepend_text => 'Your first name ' %>
				<%= f.text_field :last_name, :class => 'ui-widget' %>
				<%= f.error_message_on :last_name, :prepend_text => 'Your last name ' %>
				<%= f.text_field :email, :class => 'ui-widget' %>
				<%= f.error_message_on :email, :prepend_text => 'Your email address ' %>
				<%= f.password_field :password, :class => 'ui-widget'  %>
				<%= f.error_message_on :password, :prepend_text => 'Your password ' %>				
				<%= f.password_field :password_confirmation, :class => 'ui-widget'  %>
				<%= f.error_message_on :password_confirmation, :prepend_text => 'Your password confirmation ' %>				
				<%= f.submit 'Register' %>
				<%= f.button 'Back', :class => 'toggle' %>
			<% end %>
		</div>
	</div>
</div>

<% javascript_tag do %>	
	jQuery(function($){
		$('button[type=submit]').button({ icons: { primary: 'ui-icon-check' }});
		$('button[class]').button();
		
		$('button.lurk').click(function(){
			window.location = '<%= lurk_url %>';
			return false;
		});
		
		if (!$.browser.webkit) {
			$('#user_session_password').before('<%= text_field_tag(
					:user_session_password_placeholder,
					nil,
					:value => placeholder_for(:password),
					:class => 'placeholder ui-widget') -%>');
			FF.password_prompt('#user_session_password', '#user_session_password_placeholder');
			
			$('#user_password').before('<%= text_field_tag(
					:user_password_placeholder,
					nil,
					:value => placeholder_for(:password),
					:class => 'placeholder ui-widget') %>');
			FF.password_prompt('#user_password', '#user_password_placeholder');

			$('#user_password_confirmation').before('<%= text_field_tag(
					:user_password_confirmation_placeholder,
					nil,
					:value => placeholder_for(:password_confirmation),
					:class => 'placeholder ui-widget') %>');
			FF.password_prompt('#user_password_confirmation', '#user_password_confirmation_placeholder');

			$('#user_session_password, #user_password, #user_password_confirmation').removeAttr('placeholder').hide();
			// $('input[placeholder]').placeholder({ className: 'placeholder' }).addClass('placeholder');			
		}
		
		$('button.toggle').click(function(){
			$('div#login, div#signup').toggle();
			return false;
		});		
	});
<% end %>
