.dialog
  .body
    .title Forgot Email or Password?
    = form_tag passwords_path, :remote => true, :'data-type' => :json, :id => 'user_password_reset' do
      %p
        Provide the email that you think you signed up with. If we find it, we'll send you instructions to reset your password.
      %p.hidden
      %p
        %input{:name => "email", :placeholder => "Enter your email address", :type => "text"}/
      .foot
        %input{:name => "", :type => "submit", :value => "Email Me My Password", :'data-disable-with' => "Email Me My Password"}/
        %input#cancel{:name => "", :type => "button", :value => "Cancel"}/
        = spinner_tag
#mask
#header
  .frame
    = asset_image_tag :logo_transparent, :id => 'logo'

    - if false
      %form
        %input{:name => "email", :placeholder => "email address", :type => "text"}/
        %input{:name => "password", :placeholder => "password", :type => "password"}/
        %label.checkbox
          %input{:name => "remember", :type => "checkbox", :value => "remember"}/
        %input{:name => "signin", :type => "submit", :value => "Sign In"}/

    = form_for UserSession.new, :url => user_sessions_path do |f|
      = f.text_field :email, :placeholder => 'email address'
      = f.password_field :password, :placeholder => 'password'
      = f.submit 'Sign In'
      %p
        = link_to 'Forgot email or password?', '#', :class => 'forgotten'
        %label
          %input{:name => "remember", :type => "checkbox", :value => "remember"}>/
          Remember Me

.frame
  .col.left
    - if text = current_site.assets[:headline]
      %hgroup
        %h1= text
        - if text = current_site.assets[:byline]
          %h2= text
    - if text = current_site.assets[:description]
      %p= text
    - if text = current_site.assets[:privacy]
      %p= text

    - if flash[:errors].present?
      %p Oh no! Can you fix these errors?
      %ul#errors        
        = flash[:errors].map{ |e| "<li>#{e}</li>" }.join.html_safe
  #badge
    - if false
      %form
        %h2 Sign up now to start socializing!
        %input{:name => "name", :placeholder => "First Name", :type => "text"}/
        %input{:name => "email", :placeholder => "Email Address", :type => "text"}/
        %input{:name => "password", :placeholder => "Password", :type => "password"}/
        %input{:name => "password_again", :placeholder => "Retype Password", :type => "password"}/
        %input{:name => "age", :placeholder => "Age", :type => "text"}/
        %input{:name => "location", :placeholder => "Location", :type => "text"}/
        %input{:name => "Signup", :type => "submit", :value => "Sign Up"}/

    - else
      = form_for @user do |f|
        %h2 Sign up to meet others just like you!
        =# f.hidden_field :invitation_code
        = f.text_field :handle, :placeholder => 'First Name'
        = f.text_field :email, :placeholder => 'Email Address'
        = f.password_field :password, :placeholder => 'Password'
        #reuse_password
          Use your
          %span FriskyFactory
          password
        = f.password_field :password_confirmation, :placeholder => 'Retype Password'
        =# f.existing_user_password_label :password, 'Use your friskyfactory password', :current_site => current_site          
        =# f.new_user_password_confirmation_field :password_confirmation, :current_site => current_site, :placeholder => 'Retype Password'
        %input{:name => "age", :placeholder => "Age", :type => "text"}/
        %input{:name => "location", :placeholder => "Location", :type => "text"}/        
        - if current_site.invite_only?
          = f.text_field :invitation_code, :placeholder => 'Invite Code'
        = f.submit 'Signup'

  - if false
    = render :partial => 'ticker'

  .cells
    - profiles = current_site.waves.type(Wave::Profile).limit(4)
    = render :partial => 'welcome/headshot', :locals => { :profile => profiles[0] }
    = render :partial => 'welcome/headshot', :locals => { :profile => profiles[1] }
    = render :partial => 'welcome/headshot', :locals => { :profile => profiles[2] }
    = render :partial => 'welcome/headshot', :locals => { :profile => profiles[3], :css_class => 'omega' }

  - unless current_site.name == 'dizmdayz'
    %hr/
    .cells
      .cell
        .thumb.a
          %img{:src => "/images/labs/brands/friskyhands/screenshots/preview_a.png"}/
        %p The #{current_site.display_name} information stream shows you the #{current_site.display_name} members are and what they enjoy doing.
      .cell
        .thumb.a
          %img{:src => "/images/labs/brands/friskyhands/screenshots/preview_b.png"}/
        %p Chat with and make new friends every day. Get to know others who share your likes and interests.
      .cell.omega
        .thumb.a
          %img{:src => "/images/labs/brands/friskyhands/screenshots/preview_c.png"}/
        %p Connect with others to share your thoughts, photos, videos, interests and adventures with #{current_site.display_name}.

  - if false
    = render :partial => 'quotes'

  %hr/
  .footer © 2011 FriskyFactory LLC, New York, NY