.dialog
  .body
    .title Forgot Email or Password?
    = form_tag passwords_path, :remote => true, :'data-type' => :json, :id => 'user_password_reset' do
      %p
        Provide the email that you think you signed up with. If we find it, we'll send you instructions to reset your password.
      %p.hidden
      %p
        %input{:name => "email", :placeholder => "Enter your email address", :type => "text"}/
      .foot
        %input{:name => "", :type => "submit", :value => "Email Me My Password", :'data-disable-with' => "Email Me My Password"}/
        %input#cancel{:name => "", :type => "button", :value => "Cancel"}/
        = spinner_tag
#mask
#header
  .frame
    = asset_image_tag :logo_transparent, :id => 'logo'
    = form_for UserSession.new, :url => user_sessions_path do |f|
      = f.text_field :email, :placeholder => 'email address'
      = f.password_field :password, :placeholder => 'password'
      = f.submit 'Sign In'
      %p
        = link_to 'Forgot email or password?', '#', :class => 'forgotten'
        %label
          %input{:name => "remember", :type => "checkbox", :value => "remember"}>/
          Remember Me

.frame
  .col.left
    - if text = current_site.assets[:headline]
      %hgroup
        %h1= text
        - if text = current_site.assets[:byline]
          %h2= text

    - if @user.errors.present?
      %p Oh no! Can you fix these errors?
      %ul#errors
        - @user.errors.full_messages.each do |error|
          %li= error
    - else
      - if text = current_site.assets[:description]
        %p= text
      - if text = current_site.assets[:privacy]
        %p= text

  #badge
    = form_for @user do |f|
      %h2 Sign up to meet others just like you!
      = f.text_field :handle, :placeholder => 'First Name'
      = f.text_field :email, :placeholder => 'Email Address'
      = f.password_field :password, :placeholder => 'Password'
      = f.existing_user_password_confirmation_field :password, :current_site => current_site
      = f.new_user_password_confirmation_field :password_confirmation, :current_site => current_site, :placeholder => 'Retype Password'
      = f.text_field :age, :placeholder => 'Age'
      = f.text_field :location, :placeholder => 'Location'
      - if current_site.invite_only?
        = f.text_field :invitation_code, :placeholder => 'Invite Code'
        = f.submit 'Signup', :class => 'narrow'
      - else
        = f.submit 'Signup'

  - if false
    = render :partial => 'ticker'

  .cells
    - profiles = current_site.waves.type(Wave::Profile).limit(4)
    - profiles.each do |profile|
      = render :partial => 'welcome/headshot', :locals => { :profile => profiles }

  - unless current_site.name == 'dizmdayz'
    %hr/
    .cells
      .cell
        .thumb.a
          %img{:src => "/images/labs/brands/friskyhands/screenshots/preview_a.png"}/
        %p The #{current_site.display_name} information stream shows you the #{current_site.display_name} members are and what they enjoy doing.
      .cell
        .thumb.a
          %img{:src => "/images/labs/brands/friskyhands/screenshots/preview_b.png"}/
        %p Chat with and make new friends every day. Get to know others who share your likes and interests.
      .cell.omega
        .thumb.a
          %img{:src => "/images/labs/brands/friskyhands/screenshots/preview_c.png"}/
        %p Connect with others to share your thoughts, photos, videos, interests and adventures with #{current_site.display_name}.

  - if false
    = render :partial => 'quotes'

  %hr/
  .footer © 2011 FriskyFactory LLC, New York, NY