!!!
%html{:lang => "en-US", "xml:lang" => "en-US", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= @subject
  %body{:style => "background-color:#{@site.assets[:background_color]}; background-image:url('http://#{@host}#{@site.assets[:fibers]}');margin:0; padding:0"}
    %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "background-color:#{@site.assets[:background_color]}; background-image:url('http://#{@host}#{@site.assets[:fibers]}');", :width => "100%"}
      %tr
        %td{:valign => "top"}
          %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "background-color:#ffffff; border-left:1px solid #aa3a21;  border-right:1px solid #aa3a21; margin-top:2em", :width => "524"}
            %tr
              %td{:align => "center", :colspan => "3", :valign => "top"}
                %img{:alt => @site.display_name, :src => "http://#{@host}#{@site.assets[:badge]}", :style => "display:block; margin-top:10px", :width => "260"}/
            %tr
              %td{:width => "24"}
              %td{:valign => "top", :width => "477"}
                %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "476" }
                  %tr
                    %td{:colspan => "2", :style => "color:#aa3a21; font-family: Tahoma, Arial, sans-serif; font-size:16px; font-weight:bold"} #{@poke.profile.handle} has sent you a cocktail!
                  %tr
                    %td{:colspan => "2", :height => "20"}
                  %tr
                    %td{:valign => "top"}
                      / Headshot
                      %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "107"}
                        %tr
                          %td{:colspan => "3", :valign => "top"}
                            %img{:alt => "", :height => "14", :src => "http://#{@host}/images/friskyfactory/lg_p_top.jpg", :style => "display:block", :width => "107"}/
                        %tr
                          %td{:valign => "top"}
                            %img{:alt => "", :height => "82", :src => "http://#{@host}/images/friskyfactory/lg_p_left.jpg", :style => "display:block", :width => "12"}/
                          %td{:valign => "top"}
                            %img{:alt => @poke.sender.handle, :height => "82", :src => "http://#{@host}#{@poke.sender.avatar_url(:thumb)}", :style => "display:block", :width => "82"}/
                          %td{:valign => "top"}
                            %img{:alt => "", :height => "82", :src => "http://#{@host}/images/friskyfactory/lg_p_right.jpg", :style => "display:block", :width => "13"}/
                        %tr
                          %td{:colspan => "3", :valign => "top"}
                            %img{:alt => "", :height => "24", :src => "http://#{@host}/images/friskyfactory/lg_p_bottom.jpg", :style => "display:block", :width => "107"}/
                    %td{:valign => "top"}
                      / Message
                      %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "353"}
                        %tr
                          %td{:colspan => "3", :height => "15"}
                        - if false
                          %tr
                            %td{:width => "20"}
                            %td{:height => "70", :style => "text-align:center"}
                              %img{:height => "35", :src => "images/cup.gif", :style => "border:0", :width => "67"}/
                              %a{:href => "#", :target => "_blank"}
                                %img{:height => "35", :src => "images/bt_accept.gif", :style => "border:0", :width => "90"}/
                            %td{:width => "20"}
                        %tr
                          %td{:width => "20"}
                          %td{:style => "font-family: arial, verdana, sans-serif; font-size:12px;"}
                            Don't know who
                            %strong= @poke.profile.handle
                            is and want to find out more?
                            %br/
                            Click below to check out his bio:
                            %br/
                            %a{:href => "#{@wave_profile_url}", :style => "color:#aa3a21; font-family: arial, verdana, sans-serif; font-size: 12px; font-weight:bold; text-decoration:none;", :target => "_blank"} #{@wave_profile_url}
                          %td{:width => "20"}
                        %tr
                          %td{:colspan => "3", :height => "15"}
                  %tr
                    %td{:colspan => "2", :height => "20"}
                  %tr
                    %td{:colspan => "2", :height => "20", :style => "border-bottom: 1px solid #efdebf"}
                  %tr
                    %td{:colspan => "2", :height => "20"}
                  - if false
                    %tr
                      %td{:colspan => "2", :style => "font-family: arial, verdana, sans-serif; font-size:11px;"}
                        %strong Not interested?
                        %br/
                        Give the courtesy of knowing you're not interested.
                        %br/
                        Say
                        %a{:href => "#", :style => "color:#aa3a21; font-family: arial, verdana, sans-serif; font-weight:bold; text-decoration:none;", :target => "_blank"} "No Thanks."
                  %tr
                    %td{:align => "center", :colspan => "2", :height => "70", :style => "color:#6b5c58; font-family: arial, verdana, sans-serif; font-size: 11px;", :valign => "bottom"}
                      You received this email since you subscribed to message notifications
                      at
                      = succeed "." do
                        %a{:href => @host, :style => "color:#aa3a21; text-decoration:none;", :target => "_blank"} #{@host}
                      = succeed "Click" do
                        %br/
                      here to
                      %a{:href => "#{@unsubscribe_href}", :style => "color:#aa3a21; text-decoration:none", :target => "_blank"} unsubscribe
                      = succeed "FriendFactory," do
                        %br/
                      LLC 151 First Ave Suite 205, New York, NY 10003
                  %tr
                    %td{:colspan => "2", :height => "20"}
              %td{:width => "24"}
