:plain
  Hey #{poke.friend.handle.titleize}!
  
  #{poke.user.handle.titleize} just sent you a cocktail. They saw your headshot on #{site.display_name} and want to meet you. Lucky you!
  
  What do I do now?
  
  Look at their profile and send them a cocktail, too! It's a great way to meet new people. Click here:
  
  #{wave_profile_url(poke.user.profile, :host => host, :only_path => false)}
  
  #{render :partial => 'layouts/shared/featured_personages', :object => featured_personages, :locals => { :host => host }}
