%div{ :style => 'font-family:"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; font-size:12px' }
  %p
    Hey #{@poke.friend.handle}!
  %p
    #{@poke.user.handle} has sent you a cocktail!
  %p
    Don't know who #{@poke.user.handle} is and want to find out more? Click below to check out their bio:
  %p
    = link_to nil, "http://#{@host}#{url_for(@poke.user.profile)}"
  %p
    You received this email since you subscribed to message notifications at #{@site.display_name}.
    Send an email to #{link_to 'unsubscribe', @unsubscribe_href, :style => 'text-decoration:underline', :target => '_blank'}
    and we'll remove you right away.
  %p
    FriendFactory, LLC
    %br/
    151 First Ave Suite 205,
    %br/
    New York, NY 10003
