!!! Strict
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Email Template - Meagan Fisher - CM2
    :css
      strong{
      	font-variant: small-caps;
      	text-transform: lowercase;
      	color:#949494;
      }
  %body{:leftmargin => "0", :marginheight => "0", :marginwidth => "0", :style => "margin: 0px; background-color: #FFFFFF; font-family: Helvetica, Arial, sans-serif;", :topmargin => "0"}
    / 100% body table
    %table{:bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin: 0; padding: 0; border: 0;", :width => "100%"}
      %tr{:style => "margin: 0; padding: 0; border: 0;"}
        %td{:align => "center", :style => "margin: 0; padding: 0; border: 0;"}
          / email container
          %table{:bgcolor => "#797979", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "padding: 0; margin: 0; background: url('#{mailer_image_url('body_background.jpg', @site, @host)}'); border:solid 1px #F4F4F4; -moz-border-radius:7px; -webkit-border-radius:7px; border-radius:7px;", :width => "805"}
            %tr{:height => "14", :style => "margin: 0; padding: 0; border: 0;"}
              %td{:style => "padding: 0; border: 0; margin: 0; background: #797979 url('#{mailer_image_url('body_background.jpg', @site, @host)}');", :width => "102"}
              %td{:style => "padding: 0; border: 0; margin: 0; background: #797979 url('#{mailer_image_url('body_background.jpg', @site, @host)}');", :width => "601"}
              %td{:style => "padding: 0; border: 0; margin: 0; background: #797979 url('#{mailer_image_url('body_background.jpg', @site, @host)}');", :width => "102"}
            %tr{:height => "67", :style => "margin: 0; padding: 0; border: 0;"}
              %td{:style => "margin: 0; padding: 0; border: 0;"}
              %td{:bgcolor => "#B9B9B9", :style => "border: 0; padding: 0; color: #f9f9f9; margin: 0; background: #B9B9B9 url('#{mailer_image_url('mailer-header.jpg', @site, @host)}') no-repeat;", :width => "601"}
                %div{:style => "height:67px;"}
                  %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin: 0; padding: 0; border: 0;"}
                    %tr{:style => "margin: 0; padding: 0; border: 0;"}
                      %td{:style => "margin: 0; padding: 0; border: 0;", :width => "452"}
                        %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin: 0; padding: 0; border: 0;"}
                          %tr{:height => "55", :style => "margin: 0; padding: 0; border: 0;"}
                            %td{:style => "margin: 0; padding: 0; border: 0;", :width => "30"}
                            %td{:align => "left", :style => "margin: 0; padding: 0; border: 0;", :width => "422"}
                              / %h1{:style => "padding: 13px 0 0 0; margin: 0; font-size: 38px; font-weight: bold; border: 0; color:#f9f9f9; font:Helvetica; font-family:Helvetica, sans-serif"} Jason's Tech Blog
                              = mailer_image_tag('logo.png', @site, @host, :style => 'height:60px')
                          / %tr{:height => "12", :style => "margin: 0; padding: 0; border: 0;"}
                          /   %td{:style => "margin: 0; padding: 0; border: 0;"}
                          /   %td{:style => "margin: 0; padding: 0; border: 0;"}
                      %td{:style => "margin: 0; padding: 0; border: 0;", :width => "150"}
                        %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin: 0; padding: 0; border: 0;"}
                          %tr{:style => "margin: 0; padding: 0; border: 0;"}
                            %td{:align => "left", :rowspan => "2", :style => "margin: 0; padding: 0; border: 0;", :width => "20"}
                              %img{:height => "67", :src => "#{mailer_image_url('star.png', @site, @host)}", :style => "display: inline;", :width => "14"}/
                            %td{:style => "margin: 0; padding: 0; border: 0;", :width => "120"}
                          %tr
                            %td{:valign => "top"}
                              %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                                %tr
                                  %td{:height => "34"}
                              %p{:style => "padding: 0; font-size: 10px; font-family:Helvetica, Arial, sans-serif; text-transform: uppercase; border: 0; margin: 0; color:#f9f9f9;"}
                                %currentmonthname
                                  %currentyear
              %td{:style => "margin: 0; padding: 0; border: 0;"}
            %tr{:style => "padding: 0; font-size: 14px; line-height: 21px; font-family: Arial, sans-serif; border: 0; color: #8e8e8e; margin: 0;"}
              %td{:style => "margin: 0; padding: 0; border: 0;"}
              %td{:bgcolor => "#E4E4E4", :style => "padding: 0; border: 0; margin: 0; background: #E4E4E4 url('#{mailer_image_url('bodybg.jpg', @site, @host)}');", :width => "601"}
                %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin: 0; padding: 0; border: 0;"}
                  %tr{:height => "20", :style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;", :width => "32"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;", :width => "32"}
                  %tr{:style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
                    %td{:align => "left", :style => "margin: 0; padding: 0; border: 0; color:#8E8E8E; font-family: Helvetica, Arial, sans-serif; font-size:14px; line-height:21px;"}
                      %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin: 0; padding: 0; border: 0;"}
                        %tr{:height => "50", :style => "margin: 0; padding: 0; border: 0;"}
                          %td{:style => "margin: 0; padding: 0; border: 0;", :width => "25"}
                            %img{:height => "20", :src => "#{mailer_image_url('arrow.jpg', @site, @host)}", :style => "display: inline;", :width => "16"}/
                          %td{:style => "margin: 0; padding: 0; border: 0;", :width => "576"}
                            %h2{:style => "font-size: 24px; font-weight: bold; border: 0; color: #767676; display: inline; padding: 0; margin: 0; font-family: Helvetica, Arial, sans-serif"} iPad unboxing and review
                        %tr{:style => "margin: 0; padding: 0; border: 0;"}
                          %td{:colspan => "2", :style => "margin: 0; padding: 0; border: 0;"}
                            %p{:style => "margin: 0; padding: 0; font-size: 12px; padding-bottom: 10px; font-family: Helvetica, Arial, sans-serif; color:#949494"}
                              One morning, when
                              %strong Gregor Sams
                              woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches.
                            %p{:style => "margin: 0; padding: 0; font-size: 12px; padding-bottom: 10px; font-family: Helvetica, Arial, sans-serif; color:#949494"} He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches. One morning, when woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. One morning, when woke from troubled dreams, he found himself transformed in his bed into a horrible vermin.
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
                  %tr{:height => "25", :style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
                  %tr{:style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;", :width => "32"}
                    %td{:align => "left", :style => "padding: 20px 0 0; border: 0; margin: 0; background: url('#{mailer_image_url('storybg.jpg', @site, @host)}') no-repeat; color: #8E8E8E; font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:21px;", :width => "601"}
                      %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin: 0; padding: 0; border: 0;"}
                        %tr{:style => "margin: 0; padding: 0; border: 0;"}
                          %td{:height => "50", :style => "margin: 0; padding: 0; border: 0;", :width => "25"}
                            %img{:height => "20", :src => "#{mailer_image_url('arrow.jpg', @site, @host)}", :style => "display: inline;", :width => "16"}/
                          %td{:style => "margin: 0; padding: 0; border: 0;", :width => "576"}
                            %h2{:style => "font-size: 24px; font-weight: bold; border: 0; color: #767676; display: inline; padding: 0; margin: 0; font-family:Helvetica, Arial, sans-serif"} Buying a Droid?
                        %tr{:style => "margin: 0; padding: 0; border: 0;"}
                          %td{:colspan => "2", :style => "margin: 0; padding: 0; border: 0;"}
                            %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin: 0; padding: 0; border: 0;", :width => "343"}
                              %tr
                                %td
                                  %div{:style => "border: 1px solid #666666; float: left; margin: 5px 10px 5px 0px;"}
                                    %div{:style => "border: 7px solid #838383; float:left; width:307px "}
                                      %img{:height => "158", :src => "#{mailer_image_url('insert.jpg', @site, @host)}", :style => "border: 1px solid #e6e2e2; display: block;", :width => "305"}/
                                %td{:width => "10"}
                            %p{:style => "margin: 0; padding: 0; font-size: 12px; padding-bottom: 10px; font-family: Helvetica, Arial, sans-serif; color:#949494"}
                              One morning, when
                              %strong Gregor Sams
                              woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches.
                            %p{:style => "margin: 0; padding: 0; font-size: 12px; padding-bottom: 10px; font-family: Helvetica, Arial, sans-serif; color:#949494"} He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches. One morning, when woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. One morning, when woke from troubled dreams, he found himself transformed in his bed into a horrible vermin.
                      %br/
                    %td{:style => "margin: 0; padding: 0; border: 0;", :width => "32"}
                  %tr{:height => "25", :style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
              %td{:style => "margin: 0; padding: 0; border: 0;"}
            %tr{:height => "69", :style => "margin: 0; padding: 0; border: 0;"}
              %td{:style => "margin: 0; padding: 0; border: 0;"}
              %td{:bgcolor => "#B9B9B9", :style => "padding: 0; border: 0; margin: 0; background: #B9B9B9 url('#{mailer_image_url('footer.jpg', @site, @host)}');", :width => "601"}
                %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "padding: 0; border: 0; margin: 0;", :width => "601"}
                  %tr{:height => "12", :style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;", :width => "85"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;", :width => "85"}
                  %tr{:height => "40", :style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
                    %td{:align => "center", :style => "padding: 0; font-size: 12px; line-height: 22px; border: 0; color: #eeeeee; margin: 0; font-family:Helvetica,Arial,sans-serif"}
                      FriendFactory, LLC, 151 First Ave Suite 205, New York, NY 10003
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
                  %tr{:height => "12", :style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
              %td{:style => "margin: 0; padding: 0; border: 0;"}
            %tr{:height => "90", :style => "margin: 0; padding: 0; border: 0;"}
              %td{:style => "padding: 0; border: 0; margin: 0; background: #797979 url('#{mailer_image_url('body_background.jpg', @site, @host)}');"}
              %td{:style => "padding: 0; border: 0; margin: 0; background: #797979 url('#{mailer_image_url('body_background.jpg', @site, @host)}');", :width => "601"}
                %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin: 0; padding: 0; border: 0;"}
                  %tr{:height => "30", :style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;", :width => "46"}
                    %td{:style => "margin: 0; padding: 0; border: 0;", :width => "508"}
                    %td{:style => "margin: 0; padding: 0; border: 0;", :width => "47"}
                  %tr{:style => "margin: 0; padding: 0; border: 0;"}
                    %td{:height => "50", :style => "margin: 0; padding: 0; border: 0;"}
                    %td{:align => "center", :style => "padding: 0; font-size: 12px; line-height: 16px; border: 0; color: #333; margin: 0; font-famiy:Helvetica,Arial,sans-serif"}
                      %font{:face => "Helvetica"}
                        You're receiving this newsletter because you bought widgets from us. Not interested anymore?
                        / %span.unsubscribe{:style => "color: #fff; text-decoration: underline;"}
                        = link_to 'Click here to unsubscribe.', 'http://google.com', :style => 'color:#333;text-decoration:underline;'
                        Having trouble viewing this email?
                        / %span.webversion{:style => "color: #fff; text-decoration: underline;"} View it in your browser.
                        = link_to 'View it in your browser.', 'http://google.com', :style => 'color:#333;text-decoration:underline;' 
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
                  %tr{:height => "18", :style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
                    %td{:style => "margin: 0; padding: 0; border: 0;"}
              %td{:style => "padding: 0; border: 0; margin: 0; background: #797979 url('#{mailer_image_url('body_background.jpg', @site, @host)}');"}
              