:plain
  Hey #{@poke.friend.handle}!

  #{@poke.user.handle} has sent you a cocktail!

  Don't know who #{@poke.user.handle} is and want to find out more? Click below to check out their bio:

  http://#{@host}#{url_for(@poke.user.profile)}

  You received this email since you subscribed to message notifications at #{@site.display_name}.
  Send an email to unsubscribe@friskyfactory.com, and we'll remove you right away.

  FriendFactory, LLC
  151 First Ave Suite 205,
  New York, NY 10003
