.post_frame.posting[ avatar ]{ uid(avatar[:user_id]) }
  .post.signal
    .portrait= thimble_link_to_profile(avatar.user, :remote => true)
    .clear
      .cell
        = link_to_profile(avatar.user)
        = link_to 'posted a new avatar', comments_posting_avatar_path(avatar), :class => 'comments', :remote => true
      %span.date Uploaded #{distance_of_time_in_words_to_now(avatar.updated_at)} ago
      = link_to_comments(avatar.comments_count, comments_posting_avatar_path(avatar))
  .reaction
