- user = profile.user 
- user_info = user.user_info(current_site)
.face-container
  .back.face
    = link_to 'Close', wave_profile_path(profile), :class => 'close hidden'
    .content.scrollable
      .items
        .mini-profile
          %table.header<
            %tr
              %td.avatar<
                = avatar_image_tag(avatar, :style => :thumb, :anonymous => true, :gender => user_info.gender)
              %td.username<
                = user.handle(current_site)
              %td.age<
                = user_info.age.present? ? user_info.age : '&nbsp;'.html_safe
          %table.detail
            = render :partial => 'posting/avatars/user_info', :object => user_info, :locals => { :attribute => :deafness }
            = render :partial => 'posting/avatars/user_info', :object => user_info, :locals => { :attribute => :gender }
            = render :partial => 'posting/avatars/user_info', :object => user_info, :locals => { :attribute => :orientation, :label => 'Preference' }
            = render :partial => 'posting/avatars/user_info', :object => user_info, :locals => { :attribute => :relationship }
            = render :partial => 'posting/avatars/user_info', :object => user_info, :locals => { :attribute => :birthday }
            = render :partial => 'posting/avatars/user_info', :object => user_info, :locals => { :attribute => :location }
        .photo-grid
          - 1.upto(9) do |i|
            = image_tag('friskyfactory/ffffff.gif', :class => "thumb#{ ' omega' if (i % 3) == 0}", :site => false)
        -#   = image_tag 'chat-b-side.png', :width=>'260px'
        -# %div
        -#   = image_tag 'message-b-side.png', :width=>'260px'
        -# %div
        -#   = image_tag 'photos-b-side.png', :width=>'260px'
        -# %div
        -#   = image_tag 'profile-b-side.png', :width=>'260px'
    %ul.buddy-bar.secondary
      %li
        = link_to 'Polaroid', 'polaroid', :class => 'flip headshot icon'
    %ul.buddy-bar.primary.navi
      -# %li
      -#   = link_to 'Chat', 'chat', :class => 'chat icon'
      %li= link_to 'Profile', 'profile', :class => 'mini-profile icon'
      %li= link_to 'Photos', 'photos', :class => 'photos icon'
      - if current_user
        %li= link_to 'Message', profile_conversation_path(profile), :class => 'conversation icon last'
    - if content_for?(:polaroid_back_face)
      = content_for(:polaroid_back_face)
