.clearfix
  .grid_1<
    &nbsp;
  .grid_14<
    .tag-cloud<
      - tag_cloud(@tags, %w(tag1 tag2 tag3 tag4)) do |tag, css_class|
        - css_class += " current" if tag.name == params[:tag]
        = link_to tag.name.titleize, events_path(:tag => tag.name.gsub(/\s/, '-')), :class => css_class
  .grid_1<
    &nbsp;

.wave.header.events.wave_events.clearfix<
  .grid_1<
    &nbsp;
  .grid_4<
    &nbsp;
  .grid_6<
    = render :partial => 'nav'
  .grid_5<
    &nbsp;

.wave.events.wave_events.clearfix<
  .grid_2<
    &nbsp;
  .grid_12<
    = render :partial => 'new'
    %ul.waves
      = render :partial => 'event', :collection => @waves
  .grid_2<
    &nbsp;
    
.grid_16<
  = will_paginate @waves
