= form_for(@tag) do |f|
  - if @tag.errors.any?
    #error_explanation
      %h2
        = pluralize(@tag.errors.count, "error")
        prohibited this admin_tag from being saved:
      %ul
        - @tag.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :defective
    %br/
    = f.text_field :defective
  .field
    = f.label :corrected
    %br/
    = f.text_field :corrected
  .actions
    = f.submit 'OK'
    = link_to 'Back', admin_tags_path, :class => 'button'

