<%= form_for(@admin_tag) do |f| %>
  <% if @admin_tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_tag.errors.count, "error") %> prohibited this admin_tag from being saved:</h2>

      <ul>
      <% @admin_tag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :old_tag %><br />
    <%= f.text_field :old_tag %>
  </div>
  <div class="field">
    <%= f.label :new_tag %><br />
    <%= f.text_field :new_tag %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
