<h1>Roll Call Tag Scrubber</h1>

<table>
  <tr>
    <th>Old Tag</th>
    <th>New Tag</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_tags.each do |admin_tag| %>
  <tr>
    <td><%= admin_tag.old_tag %></td>
    <td><%= admin_tag.new_tag %></td>
    <td><%= link_to 'Show', admin_tag %></td>
    <td><%= link_to 'Edit', edit_admin_tag_path(admin_tag) %></td>
    <td><%= link_to 'Destroy', admin_tag, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Scrubber', new_admin_tag_path %>
