- stylesheet 'app/admin/admin'
.grid_14.push_1.admin.tags.blank.canvas
  .button-bar.header
    = link_to 'New Tag Correction', new_admin_tag_path, :class => 'button new'
    = link_to 'Commit', commit_admin_tags_path, :class => 'button submit'
  %table.index
    %tr
      %th Defective
      %th Corrected
      %th
    - @tags.each do |tag|
      %tr
        %td= tag.defective
        %td= tag.corrected
        %td.actions
          = link_to 'Edit', edit_admin_tag_path(tag)
          = link_to 'Delete', tag, :confirm => 'Are you sure?', :method => :delete    
  .button-bar
    = link_to 'New Tag Correction', new_admin_tag_path, :class => 'button new'
    = link_to 'Commit', commit_admin_tags_path, :class => 'button submit'
