%h1 User Info Tag Scrubber
%table
  %tr
    %th Defective Tag
    %th Corrected Tag
    %th
    %th
    %th
  - @tags.each do |tag|
    %tr
      %td= tag.defective
      %td= tag.corrected
      %td= link_to 'Show', tag
      %td= link_to 'Edit', edit_admin_tag_path(tag)
      %td= link_to 'Destroy', tag, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Scrubber', new_admin_tag_path