<p id="notice"><%= notice %></p>

<p>
  <b>Old tag:</b>
  <%= @admin_tag.old_tag %>
</p>

<p>
  <b>New tag:</b>
  <%= @admin_tag.new_tag %>
</p>


<%= link_to 'Edit', edit_admin_tag_path(@admin_tag) %> |
<%= link_to 'Back', admin_tags_path %>
