= form_for personage, :url => profile_path(personage) do |f|
  = hidden_field_tag :pane, params[:pane], :id => nil
  .headshot-container
    .headshot
      .face
        .pane
          = f.fields_for :persona, personage.persona do |persona_form|
            %table.biometrics
              %tr
                %td.label Name
                %td.detail= persona_form.text_field :handle, :placeholder => 'Name', :maxlength => 20, :size => 16
              %tr
                %td.label Location
                %td.detail= persona_form.text_field :location, :placeholder => 'town or city, state', :maxlength => 20, :size => 16
        .button-bar
          = link_to 'Cancel', profile_path(personage), :class => 'cancel'
          = f.submit 'OK'
