- profile = personage.profile
- persona = personage.persona
- link_to_close_wave_id = local_assigns[:link_to_close_wave_id] || profile.id

.headshot-container
  .headshot[ wave ]{ :class => poke_class(wave.id) }
    .face-container
      .front.face
        = headshot_image_tag(wave)
        = link_to_close(link_to_close_wave_id)
        %span.handle
          = persona.handle
        %ul.buddy-bar.primary
          %li= link_to 'Location', location_wave_profile_path(wave), :class => 'flip icon location', :'data-pane-name' => 'location'
    .face-container
      .back.face
        .content
          = link_to_close(link_to_close_wave_id)
          .pane
          .portrait= link_to thimble_image_tag(wave, :size => '18x18'), wave_place_path(wave), :class => 'flip'
