= form_for personage, :url => profile_path(personage) do |form|
  .headshot-container
    .headshot
      .face
        .pane
          %h1 Credentials
          = form.fields_for :user, personage.user_record do |user_record_form|
            %table.credentials
              %tr
                %td
                  %p Email #{personage.errors[:'user.email'].to_sentence}
                  = user_record_form.text_field :email
              %tr
                %td
                  %p Password #{personage.errors[:'user.password'].to_sentence}
                  = user_record_form.password_field :password
              %tr
                %td
                  %p Password confirmation #{personage.errors[:'user.password_confirmation'].to_sentence}
                  = user_record_form.password_field :password_confirmation
        .button-bar
          = link_to 'Cancel', profile_path(personage), :class => 'cancel'
          = form.submit 'OK'
