.headshot-container
  .headshot
    .face
      .pane
        %h1 Preferences
        %table.preferences
          %tr
            %td
              = form.check_box :emailable_without_enabled_personage, {}, 1, 0
            %td
              = form.label :emailable_without_enabled_personage, 'Subscribe to emails'
              .instructions Emails are sent for cocktails, new messages and new comments.
          %tr
            %td
              = form.check_box :featured?
            %td
              = form.label :featured, 'Featured'
              .instructions Featured headshots are displayed on #{current_site.display_name}'s welcome page and emails.
          %tr
            %td
              = hidden_field_tag 'personage[state]', 'disabled', :id => nil
              = check_box_tag 'personage[state]', 'enabled', personage.enabled?
            %td
              = label_tag :personage_state, 'Enabled'
              .instructions Disabled personas are not shown in sidebar.
      .button-bar
        = link_to 'Cancel', current_personage_path, :class => 'cancel'
        = form.submit 'OK'
