.headshot-container
  .headshot
    .face
      .pane
        %h1 Preferences
        %table.preferences
          = form.fields_for :persona, personage.persona do |persona_form|
            %tr
              %td
                = persona_form.check_box :emailable
              %td
                = persona_form.label :emailable, 'Subscribe to emails'
                .instructions Emails are sent for cocktails, new messages and new comments.
            %tr
              %td
                = persona_form.check_box :featured
              %td
                = persona_form.label :featured, 'Featured'
                .instructions Featured headshots are displayed on #{current_site.display_name}'s welcome page and emails.
          %tr
            %td
              = hidden_field_tag 'personage[state]', 'disabled', :id => nil
              = check_box_tag 'personage[state]', 'enabled', personage.enabled?
            %td
              = label_tag :personage_state, 'Enabled'
              .instructions Disabled personas are not shown in sidebar.
      .button-bar
        = link_to 'Cancel', current_personage_path, :class => 'cancel'
        = form.submit 'OK'
