- user = tweet.user
.posting.post.tweet[tweet]
  .remove{:title => "Remove this post"} ×
  .portrait= thimble_link_to_profile(user)
  .clear
    .cell
      = link_to_profile(user)
      #{tweet.subject}
    %span.date Posted #{distance_of_time_in_words_to_now(tweet.created_at)} ago
    = link_to_comments(tweet.children.published.count, posting_comments_path(tweet))
.reaction
