- user = tweet.user
.post_frame.posting[ tweet ]{ uid(tweet[:user_id]) }
  .post.tweet
    = link_to_unpublish(tweet)
    .portrait= thimble_link_to_profile(user, :remote => true)
    .clear
      .cell
        = link_to_profile(user)
        #{tweet.subject}
      = posted_distance_of_time(tweet)
      = link_to_comments(tweet.children.type(Posting::Comment).published.count, posting_comments_path(tweet))
  .reaction
