<h1>Editing wall</h1>

<% form_for(@wall) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @wall %> |
<%= link_to 'Back', walls_path %>