= render :partial => File.join('welcome', current_site.name, 'badge')
.creative.prepend-top.prefix_2.grid_12.suffix_2
  - if flash[:notice].present?
    .grid_3.alpha<
      &nbsp;
    .grid_6.flash.notice<
      %p= flash[:notice]
      = link_to 'Back to Login', root_path
    .grid_3.omega<
      &nbsp;
  - else
    .grid_1.alpha<
      &nbsp;
    .grid_6.prepend-top.blurb.alpha
      - if flash[:errors].present?
        %p Oh no! Can you fix this?
        %ul.flash.error
          - flash[:errors].each do |error|
            %li= error
      - else
        %p Find new friends and lovers in a fun, uplifting, stigma-free environment where privacy is a priority.

    .grid_4<
      .panel.login
        %h3 Log in!
        = link_to 'Password?', new_password_path, :class => 'new_password'          
        = form_for UserSession.new, :url => user_sessions_path do |f|
          = f.label :email, 'Email', :class => 'placeholder'
          = f.text_field :email, :placeholder => 'email@address.com'
          = f.label :email, 'Password', :class => 'placeholder'
          = f.password_field :password, :class => 'password', :placeholder => 'password'
          .button-bar
            = f.submit 'Login'
            = f.button 'Sign Up', :class => 'toggle'
        
      .panel.signup.hidden
        %h3 Sign up!
        = form_for @user do |f|
          = f.label :invitation_code, 'Valid invitation code required to join PositivelyFrisky'
          = f.text_field :invitation_code, :class => 'ui-widget', :placeholder => 'invitation code'
          = f.label :handle, 'First name or Handle', :class => 'placeholder'
          = f.text_field :handle, :class => 'ui-widget', :placeholder => 'first name or handle'
          = f.label :email, 'Email', :class => 'placeholder'
          = f.text_field :email, :class => 'ui-widget', :placeholder => 'email@address.com'

          = f.label :password, 'Password', :class => 'placeholder'
          = f.existing_user_password_label :password, 'Use your friskyfactory password', :current_site => current_site
          = f.password_field :password, :class => 'password ui-widget', :placeholder => 'password'          
          = f.new_user_password_confirmation_field :password_confirmation, 'Retype your password', :current_site => current_site, :class => 'password ui-widget', :placeholder => 'password_confirmation'          
          .button-bar
            = f.submit 'Register'
            - unless @user.invitation_code.present?
              = link_to 'Back', root_path, :class => 'button'
    .grid_1.omega<
      &nbsp;
