.creative.prepend-top.prefix_2.grid_12.suffix_2
  - if flash[:notice].present?
    .grid_3.alpha<
      &nbsp;
    .grid_6.flash.notice<
      %p= flash[:notice]
      = link_to 'Back to Login', root_path
    .grid_3.omega<
      &nbsp;
  - else
    .grid_1.alpha<
      &nbsp;
    .grid_6.prepend-top.blurb.alpha
      - if flash[:error].present?
        %p Oh no! Can you fix this?
        %ul.flash.error
          - flash[:error].each do |error|
            %li= error
      - else
        %p
          Find new friends and lovers in a fun, uplifting, stigma-free environment where privacy is a priority.    
    .grid_4<
      .panel.login
        %h3 Log in!
        = link_to 'Password?', new_password_path, :class => 'new_password'
        = form_for UserSession.new, :url => user_sessions_path do |f|
          = f.text_field :email, :placeholder => 'email@address.com'
          = f.password_field :password, :class => 'password', :placeholder => 'password'
          .button-bar
            = f.submit 'Login'
            = f.button 'Sign Up', :class => 'toggle'
        
      .panel.signup.hidden
        %h3 Sign up!
        = form_for new_user, :url => users_path do |f|
          = f.fields_for :invitation do |invitation|
            = invitation.text_field :code, :class => 'ui-widget', :placeholder => 'invitation code'
            = invitation.label :code, 'Provide a valid membership code to join PositivelyFrisky'
          = f.fields_for :profile do |profile|
            = profile.text_field :handle, :class => 'ui-widget', :placeholder => 'first name or handle'
          = f.text_field :email, :class => 'ui-widget', :placeholder => 'email@address.com'
          = f.password_field :password, :class => 'password ui-widget', :placeholder => 'password'
          = f.password_field :password_confirmation, :class => 'password ui-widget', :placeholder => 'password confirmation'
          .button-bar
            = f.submit 'Register'
            = link_to 'Back', root_path, :class => 'button'
    .grid_1.omega<
      &nbsp;
