- if current_user
  .wave.postcard.grid_8[conversation]

    - if Rails.env.development?
      %div{ :style => 'position:absolute;top:10px;left:20px' }
        = dom_id(conversation)
      
    = form_for Posting::Message.new, :url => wave_posting_messages_path(:wave_id => conversation.id), :remote => true do |f|
      .grid_5.alpha
        .thread
          - messages = conversation.messages
          .unobtrusive.time_ago
            Started&nbsp;
            = time_ago_in_words(messages.first.created_at)
            &nbsp;ago
          = render :partial => 'posting/messages/message', :collection => messages
          &nbsp;
        .message-input
          = f.text_area :body
      .grid_3.omega
        .stamp
          .franking.hidden
          .delivered.hidden
          &nbsp;
        .address
          .message.received
            = avatar_image_tag conversation.recipient, :style => 'thimble', :gender => conversation.recipient.user_info.gender
            = link_to_profile(conversation.recipient)
          .message.sent
            = avatar_image_tag conversation.user, :style => 'thimble', :gender => conversation.user.user_info.gender
            = link_to_profile(conversation.user)
        .button-bar
          = f.submit 'Send'
