- if current_user
  .wave.postcard.grid_8[conversation]
    - unless @popup.present?
      = link_to 'Close', close_wave_conversation_path(conversation), :class => 'close'
      = link_to 'Popup', wave_conversation_path(conversation), :class => 'popup'
    = form_for Posting::Message.new, :url => wave_posting_messages_path(:wave_id => conversation.id), :remote => true do |f|
      .grid_5.alpha
        .thread
          .unobtrusive.time_ago
            Started&nbsp;
            = time_ago_in_words(conversation.created_at)
            &nbsp;ago
          = render :partial => 'posting/messages/message', :collection => conversation.messages
          &nbsp;
        .message-input
          = f.text_area :body
      .grid_3.omega
        .franking.hidden
        .delivered.hidden
        .address
          .message.received
            = avatar_image_tag conversation.recipient, :style => 'thimble', :gender => conversation.recipient.user_info.gender
            = link_to_profile(conversation.recipient)
          .message.sent
            = avatar_image_tag conversation.user, :style => 'thimble', :gender => conversation.user.user_info.gender
            = link_to_profile(conversation.user)
        .button-bar
          = f.submit 'Send'
