- if current_user
  .wave.postcard.grid_8[conversation]
    = form_for Posting::Message.new, :url => wave_posting_messages_path(:wave_id => conversation.id), :remote => true do |f|
      .grid_5.alpha
        .thread
          - messages = conversation.messages
          .unobtrusive.time_ago
            Started&nbsp;
            = time_ago_in_words(messages.first.created_at)
            &nbsp;ago
          = render :partial => 'posting/messages/message', :collection => messages
          &nbsp;
        = f.text_area :body
      .grid_3.omega
        .stamp
          .franking.hidden
          .delivered.hidden
          &nbsp;
        .address
          = avatar_image_tag conversation.recipient, :style => 'thumb', :gender => conversation.recipient.user_info.gender
          / %p
          /   = link_to_profile(conversation.recipient)
          / %p
          /   From
          /   = current_user.first_name
        =# avatar_image_tag conversation.user, :style => 'thimble', :gender => conversation.user.user_info.gender
        .button-bar
          = f.submit 'Send'
