- if false
  - if @profiles.length == 0
    .grid_12.push_2.suffix_2.blank.canvas.centered
      %p You haven't started chatting or messaging anyone.
  - else
    .wave.wave_inbox.roll_call.grid_16
      = will_paginate @conversations, :class => 'grid_16 pagination append-bottom'
      - @conversations.in_groups_of(3) do |group|
        - group.each_with_index do |conversation, idx|
          - unless conversation.nil?
            - profile = @profiles.detect { |profile| profile.user_id == conversation.resource_id }
            = render :partial => 'wave/profiles/profile', :locals => { :profile => profile }
      = will_paginate @conversation, :class => 'grid_16 pagination append-top'

#inbox
  %div.clearfix
    - @conversations.in_groups_of(4) do |group|
      - group.each_with_index do |conversation, idx|
        - unless conversation.nil?
          - profile = @profiles[conversation.resource_id]
          -# raise conversation.resource_id.inspect if profile.nil?
          - raise @profiles.inspect if profile.nil?
          = render :partial => 'wave/profiles/headshot', :locals => { :profile => @profiles[conversation.resource_id] }
  = will_paginate @conversations, :class => 'pagination footer'