#frame
  .container
    %h1 #{site.display_name} Sign Up Codes
    %table.invitations.index
      %thead
        %tr
          %th= link_to_column_name_with_sort_direction_arrow(site, 'ID', 'id')
          %th= link_to_column_name_with_sort_direction_arrow(site, 'Inviter', 'personas.handle')
          %th= link_to_column_name_with_sort_direction_arrow(site, 'Code', 'code')
          %th.type=link_to_column_name_with_sort_direction_arrow(site, 'Type', 'type')
          %th.created_at=link_to_column_name_with_sort_direction_arrow(site, 'Created', 'created_at')
          %th.confirmations=link_to_column_name_with_sort_direction_arrow(site, 'Enrollments', 'confirmations_count')
          %th.status=link_to_column_name_with_sort_direction_arrow(site, 'Status', 'state')
          %th &nbsp;
      %tbody
        - invitations.each do |invitation|
          %tr
            %td= invitation.id
            %td.inviter
              .portrait= thimble_image_tag(invitation.user)
              %span.username= invitation.user.handle
            %td= invitation.code
            %td.type= invitation[:type].demodulize
            %td.created_at #{distance_of_time_in_words_to_now(invitation.created_at)}&nbsp;ago
            %td.confirmations= invitation.confirmations_count
            %td.status
              =# select_tag('invitation[state]', options_for_select([ %w{ Offered offered }, %w{ Expired expired } ], invitation.state), :'data-remote' => true, :'data-url' => admin_site_invitation_sites_path(site, invitation), :'data-type' => :json, :'data-method' => :put, :id => "invitation_#{invitation.id}_state")
              = invitation.state.titleize
            %td.actions
              = link_to 'Edit', edit_admin_site_invitation_site_path(site, invitation)
              =# link_to 'Delete', admin_site_invitation_path(site, invitation), :confirm => 'Are you sure?', :remote => true, :method => :delete
    .button-bar.footer
      - if flash[:notice].present?
        %span.flash.notice= flash[:notice]
      = link_to 'New Sign Up Code', new_admin_site_invitation_site_path(site)
