- submit_message ||= "Update Password & Login"
= render :partial => File.join('welcome', current_site.name, 'badge')
.grid_4.push_6.prepend-top
  = form_for @user, :url => password_path, :method => :put do |f|
    %table
      %tr
        %td
          %h3 Change Password
      %tr
        %td= f.password_field :password, :class => 'password', :placeholder => 'password'
      %tr
        %td= f.password_field :password_confirmation, :class => 'password', :placeholder => 'password confirmation'
      %tr.button-bar
        %td= f.submit submit_message
      - unless @user.errors.empty?
        %tr
          %td.formError
            %p= @user.errors.full_messages.first
