.grid_6.push_1.prepend-top.blurb.alpha
  - if flash[:notice].present?
    %p.flash.notice<
      = flash[:notice]
  - else
    %p<
      Provide your email address and we'll send you instructions how to reset your password right away!
.grid_4.push_1.omega
  .panel.new_password
    %h3 Reset Password
    %p<
    = form_tag passwords_path do
      = text_field_tag 'email', '', :placeholder => 'email'
      .button-bar
        = button_tag 'Reset my password', :class => 'reset button'
        = link_to 'Back', welcome_path, :class => 'back button'


