.block.userspace
  .portrait= current_page_for_wave?(current_user.profile) ? monochrome_thimble_image_tag(current_user) : thimble_link_to_profile(current_user)
  %span.username
    = personages_select_tag(current_user)
  %ul.navspace
    %li.messages
      = link_to 'Inbox', inbox_path, :class => (current_page?(inbox_path) ? 'current_page' : nil)
      = link_to_unread_messages
    %li.profile
      = link_to 'Edit', current_personage_path, :class => 'edit_profile'
    - if false
      %li.invites
        = link_to 'Invitations', invitations_path
