- user   = album.user
- photos = album.photos.limit(2)
- photo  = photos.first
- if photo.present?
  .post_frame
    .post.photos[ album ]{ uid(album[:user_id]), :class => [ 'wave_album', (photos.length > 1) ? 'multiple' : nil ]}
      = link_to_unpublish(album)
      .portrait= thimble_link_to_profile(user, :remote => true)
      .clear
        .photo{ :class => photo.horizontal? ? nil : 'vertical' }
          = link_to render_photo(photo), posting_comments_path(album), :class => 'comments', :remote => true
        = posted_distance_of_time(album)
        = link_to_comments('Show photos', posting_comments_path(album))
    .reaction
