= form_for Wave::Album.new, :html => { :multipart => true, :class => 'new_post_frame new_wave_album posting_album form' } do |f|
  = f.resolve resolver
  = hidden_field_tag :publish_id, wave.id
  = hidden_field_tag :wave_id
  .new_post.photo
    .body
      .photo.canvas.dropzone
        %ul.posting_photos
        = fields_for :posting_photo do |photo|
          = photo.file_field :image
        %p.instructions
          Choose or drag photos here
    .foot
      =# f.sticky_until if current_user.admin?
      = f.submit 'Post'
      = f.cancel 'Cancel'
