:javascript
  jQuery(function($) {
    $.supersized({
      slideshow : 1,
      autoplay : 0,
      start_slide : #{@start_slide},
      slide_interval : 1600,
      transition : 1,
      transition_speed : 500,
      new_window : 1,
      pause_hover : 0,
      keyboard_nav : 1,
      performance : 1,
      min_width : 0,
      min_height : 0,
      vertical_center : 1,
      horizontal_center : 1,
      fit_portrait : 1,
      fit_landscape : 1,
      image_path : '/images/friskyfactory/supersized/',
      navigation : 1,
      thumbnail_navigation : 1,
      slide_counter : 0,
      slide_captions : 1,
      slides : #{supersized_album_photos(@wave).to_json}
    }); 
  });

#prevthumb
#nextthumb
#controls-wrapper
  #controls
    #slidecounter
      %span.slidenumber>
      %span.totalslides
    #slidecaption
    #navigation
      = image_tag 'friskyfactory/supersized/back_dull.png', :id => 'prevslide', :site => false
      = image_tag 'friskyfactory/supersized/pause_dull.png', :id => 'pauseplay', :site => false
      = image_tag 'friskyfactory/supersized/forward_dull.png', :id => 'nextslide', :site => false
    = image_tag 'logo.png', :class => 'logo'
