<h1>Listing waves</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Owner</th>
  </tr>

<% @waves.each do |wave| %>
  <tr>
    <td><%=h wave.title %></td>
    <td><%=h wave.description %></td>
    <td><%=h wave.owner_id %></td>
    <td><%= link_to 'Show', wave %></td>
    <td><%= link_to 'Edit', edit_wave_path(wave) %></td>
    <td><%= link_to 'Destroy', wave, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New wave', new_wave_path %>