- javascript 'wave'
- javascript 'wave_shared'

:javascript
  var PusherEvent = {
    log: function(message, avatar) {
      message = '<p>' + message
      if (avatar) {
        // message = message + avatar.id + avatar.image_file_name
      }
      message = message + '</p>'
      $('#events').prepend(message);
    }
  };

  jQuery(document).ready(function($) {
    var server = new Pusher('064cfff6a7f7e44b07ae', 'wave');
    server.bind('user-online', function(user) {
      var avatar_url;
      // if (user.avatar !== undefined) {
        // avatar_url = '/system/images/' + avatar.id + '/thumb/' + avatar.file_name
      // }
      PusherEvent.log(user.full_name + ' arrived', avatar);
    });
    server.bind('user-register', function(user) {
      PusherEvent.log(user.full_name + ' registered!');
    });
    server.bind('lurker-online', function(user) {
      PusherEvent.log('A lurker arrived');
    });
    server.bind('user-offline', function(user) {
      PusherEvent.log(user.full_name + ' logged out');
    });
  });

.wave[@wave]
  .grid_3
    %p.flash= flash[:notice]
    &nbsp;
    #events

  .grid_12
    - if current_user
      %ul#tabs
        %li
          %a{ :href => '#text' } Text
        %li
          %a{ :href => '#photo' } Photo
        %li
          %a{ :href => '#video' } Video
        %li
          %a{ :href => '#chat' } Chat
        %li
          %a{ :href => '#link' } Link
        %li
          %a{ :href => '#event' } Event
        %li
          %a{ :href => '#poll' } Poll

    %h1= h @wave.topic

    - if current_user
      #text.tab_content.hidden
        %table
          %tr
            %td{ :colspan => '2' }
              %h2 Write a Message to this Wave
          %tr
            %td.avatar.thumb= thumb_image_tag(current_user.profile.avatar)
            %td
              - form_for Posting::Text.new, :url => wave_texts_path(:wave_id => @wave) do |f|
                = f.text_field :subject, :placeholder => 'Title (optional)'
                = f.text_area :body
                .button_bar
                  = f.submit :OK
                  = f.button :Cancel, :class => 'cancel'
      :javascript
        jQuery(document).ready(function($) {
          $('#text.tab_content form').submit(function(event) {
            form = this;
            FF.scrubPlaceholders(form);
            jQuery.ajax({
              data: jQuery.param(jQuery(this).serializeArray()),
              dataType: 'script',
              cache: false,
              type: 'post',
              url: '#{wave_texts_path(:wave_id => @wave)}',
              success: function() {
                $(form)
                .reset()
                .closest('.tab_content').hide();
              $('ul#tabs li.current').removeClass('current');
              }
            });
            event.preventDefault();
          });
        });

      #photo.tab_content.hidden
        %table
          %tr
            %td{ :colspan => '2' }
              %h2 Upload a Photo to the Wave
          %tr
            %td.avatar.thumb= thumb_image_tag(current_user.profile.avatar)
            %td
              - form_for(Posting::Photo.new, :url => wave_photos_path(:wave_id => @wave, :format => :js), :html => { :multipart => true, :target => 'upload_frame' }) do |f|
                %table.button_bar
                  %tr
                    %td.file_field= f.file_field :image
                  %tr
                    %td.submit
                      = f.submit 'Upload Photo', :id => 'photo_upload_submit'
                      = f.button :Cancel, :class => 'cancel'
                      = spinner

      #video.tab_content.hidden
        %table
          %tr
            %td{ :colspan => '2' }
              %h2 Upload a Video to the Wave
          %tr
            %td.avatar.thumb= thumb_image_tag(current_user.profile.avatar)
            %td
              -form_for(Posting::Video.new, :url => wave_videos_path(:wave_id => @wave, :format => :json)) do |f|
                %p.unobtrusive Paste the URL of the YouTube tube here.
                = f.text_area :body
                = f.text_field :subject, :placeholder => 'Caption (optional)'
                .button_bar
                  = f.submit :OK
                  = f.button :Cancel, :class => 'cancel'
        :javascript
          $('#video.tab_content form').submit(function(){
            FF.scrubPlaceholders(this);
            jQuery.ajax({
              data: jQuery.param(jQuery(this).serializeArray()),
              dataType: 'script',
              cache: false,
              type: 'post',
              url: '#{wave_videos_path(:wave_id => @wave)}',
              success: function(){
                $('#video.tab_content form')
                .reset()
                .closest('.tab_content').hide();
              $('ul#tabs li.current').removeClass('current');
              }
            });
            return false;
          });

      #chat.tab_content.hidden Chat
      #hottie.tab_content.hidden Hottie
      #link.tab_content.hidden Link
      #event.tab_content.hidden Event
      #poll.tab_content.hidden Poll

      %iframe#upload_frame{ :name => "upload_frame", :width => '1', :height => '1', :style => 'border:0px', :src => 'about:blank' }

    - if false
      #log

    #postings
      = render :partial => 'postings/posting', :collection => @wave.postings.for(current_user)
  .grid_1
    &nbsp;
