- javascript 'wave'
.wave.grid_12[@wave]
  - if current_user
    %ul#tabs
      %li
        %a{ :href => '#text' } Text
      %li
        %a{ :href => '#photo' } Photo
      %li
        %a{ :href => '#video' } Video
      %li
        %a{ :href => '#chat' } Chat
      %li
        %a{ :href => '#hottie' } Hottie
      %li
        %a{ :href => '#link' } Link
      %li
        %a{ :href => '#event' } Event
      %li
        %a{ :href => '#poll' } Poll
        
  %h1= h @wave.topic

  - if current_user
    #text.tab_content.hidden
      - form_for Posting::Text.new, :url => wave_texts_path(:wave_id => @wave) do |f|
        %div Write a Message to this Wave
        = f.text_field :subject, :placeholder => 'Title (optional)'
        = f.text_area :body
        = f.submit :OK
        = f.button :Cancel, :class => 'cancel'
      
    #photo.tab_content.hidden Photo
    #video.tab_content.hidden Video
    #chat.tab_content.hidden Chat
    #hottie.tab_content.hidden Hottie
    #link.tab_content.hidden Link
    #event.tab_content.hidden Event
    #poll.tab_content.hidden Poll
    
  - if false
    #log
  = render :partial => 'postings/posting', :collection => @wave.postings.for(current_user)

:javascript
  $('#text.tab_content form').submit(function(){
    $(this).children('input[type=text]').each(function(child){
      if ($(this).val().toLowerCase() === $(this).attr('placeholder').toLowerCase()) {
      $(this).val('');
      }
    });
    jQuery.ajax({
      data: jQuery.param(jQuery(this).serializeArray()),
      dataType: 'script',
      cache: false,
      type: 'post',
      url: '#{wave_texts_path(:wave_id => @wave)}',
      success: function(){
        $('#text.tab_content form')
        .reset()
        .closest('.tab_content').hide();
      $('ul#tabs li.current').removeClass('current');
      }
    });
    return false;
  });
