- user = signal.user
.post_frame
  .posting.post.signal[signal]{uid(signal[:user_id])}
    = link_to_unpublish(signal)
    .portrait= thimble_link_to_profile(user)
    .clear
      .cell
        = link_to_profile(user)
        #{signal.subject}
      = posted_distance_of_time(signal)
      = link_to_comments(signal.children.type(Posting::Comment).published.count, posting_comments_path(signal))
  .reaction
