- user = signal.user
.posting.post.signal[signal]
  .remove{:title => "Remove this post"} ×
  .portrait= thimble_link_to_profile(user)
  .clear
    .cell
      = link_to_profile(user)
      #{signal.subject}
    %span.date Posted #{distance_of_time_in_words_to_now(signal.created_at)} ago
    = link_to_comments(signal.children.published.count, posting_comments_path(signal))
.reaction
