- if current_user
  %ul.wave.community.nav
    %li.posting_text
      = link_to 'Message', new_wave_posting_text_path(@wave), :rel => '#posting_text'
    %li.posting_post_it
      = link_to 'Post-it', new_wave_posting_post_it_path(@wave), :rel => '#posting_post_it'
    %li.wave_album
      = link_to 'Album', new_wave_album_path, :rel => '#wave_album'
    %li.posting_video
      = link_to 'Video', new_wave_posting_video_path(@wave), :rel => '#posting_video_upload'
    / %li.wave_event
    /   =# link_to 'Event', new_wave_event_path, :rel => '#new_event_overlay'
    %li.posting_link
      = link_to 'Link', new_wave_posting_video_path(@wave), :rel => '#posting_link'
