- if current_user
  %ul.wave.community.nav
    %li.posting_text
      = link_to 'Message', new_wave_posting_text_path(@wave), :rel => '#posting_text'
    %li.posting_post_it
      = link_to 'Post-it', new_wave_posting_post_it_path(@wave), :rel => '#posting_post_it'
    %li.posting_photo
      = link_to 'Photo', new_wave_posting_photo_path(@wave), :rel => '#posting_photo'
    %li.posting_video
      = link_to 'Video', new_wave_posting_video_path(@wave), :rel => '#posting_video_upload'
    %li.wave_album
      = link_to 'Album', new_wave_album, :rel => '#wave_album'
