- content_for :tag_cloud do
  - tag_cloud(tags, %w(tag1 tag2 tag3 tag4)) do |tag, css_class|
    - css_class = 'tag4' if tag.name.downcase == 'deaf' && current_site.name == 'friskyhands' # TODO !!!
    - tag_as_param = tag.name.gsub(/\s/, '-').downcase
    - current = false
    - if tag_as_param == params[:tag]
      - current = true
      - css_class += " current"
      - tag_as_param = nil
    = link_to tag.name, url_for(:controller => controller.controller_name, :action => 'rollcall', :id => wave.id, :tag => tag_as_param), :class => css_class
    - if current
      = link_to "(untag)", url_for(:controller => controller.controller_name, :action => 'rollcall', :id => wave.id), :class => 'tag1 current'

#rollcall
  %h1 #{wave.subject} RollCall
  %div.clearfix
    - paged_users.in_groups_of(4) do |group|
      - group.each_with_index do |user, idx|
        - unless user.nil?
          = render_headshot(user)
  = will_paginate paged_users, :class => 'pagination footer', :inner_window => 1, :outer_window => 1
