= content_for_sidebar_rollcall(@users_on_wave)
#floating
#frame
  %h1 #{wave.subject}
  = render :partial => 'layouts/shared/reaction-template'
  = render :partial => 'layouts/shared/nav'
  = render :partial => 'show'
  = render :partial => 'layouts/shared/unpublish_overlay'
