- content_for :rollcall do
  - max = [ @users_on_wave.length / 5 * 5, 30 ].min
  - @users_on_wave[0..(max-1)].each_with_index do |user, idx|
    - css_class = (idx + 1) % 5 == 0 ? 'omega' : nil
    .portrait{ :class => css_class }= thimble_link_to_profile(user)
  = link_to "More &rarr;".html_safe, wave_rollcall_path(params[:id] || current_site.home_wave, :page => params[:page]), :class => 'more'
#floating
#frame
  = render :partial => 'layouts/shared/reaction-template'
  = render :partial => 'layouts/shared/nav'
  = render :partial => 'show'
  = render :partial => 'layouts/shared/unpublish_overlay'
