.wave.header.clearfix[@wave]
  .grid_1<
    &nbsp;
  .grid_4<
    &nbsp;
  .grid_6<
    = render :partial => 'nav'
  .grid_5<
    &nbsp;

.wave.clearfix[@wave]
  .grid_16
    = render_postings(@postings, :only => Posting::PostIt, :class => 'post_its')
  .grid_16
    = render :partial => 'tab_content'
  .grid_16
    = render_postings(@postings, :exclude => Posting::PostIt)
.grid_16    
  = will_paginate @postings
