= content_for_sidebar_rollcall(users_from_paged_postings, rollcall_wave_community_path(params[:id], :page => params[:page]))
#floating
#frame
  %h1 #{wave.subject}
  = render :partial => 'layouts/shared/reaction-template'
  = render :partial => 'layouts/shared/nav'
  - paged_postings.each do |posting|
    = render_community_posting(posting)
  = will_paginate paged_postings, :class => 'pagination footer', :inner_window => 1, :outer_window => 1
  = render :partial => 'layouts/shared/unpublish_overlay'
