- javascript 'wave/community'
- javascript 'wave/comment'

.wave.header.clearfix
  .grid_1<
    &nbsp;
  .grid_4<
    = render :partial => 'nav'
  .grid_6<
    %h1= @wave.topic
  .grid_5<
    &nbsp;

.wave.tab_contents.clearfix
  .grid_1<
    &nbsp;
  .grid_12<
    = render :partial => 'tab_content'
    = render :partial => 'postings/messages/new'
  .grid_3<
    &nbsp;

.wave[@wave]
  .grid_1<
    &nbsp;
  .grid_12<
    %ul.postings
      = render_postings(@postings)
  .grid_3<
    &nbsp;
.grid_16    
  = will_paginate @postings
