- user_info = avatar.user.info
.face-container
  .back.face
    .content.scrollable
      .items
        %table.header
          %tr
            %td.avatar
              = avatar_image_tag(avatar, :style => :thumb)
            %td.username<
              = avatar.user.first_name
            %td.age<
              = user_info.age.present? ? user_info.age : '&nbsp;'
        %div
          %table.detail
            %tr
              %td<
                Deafness
              %td<
                = user_info.deafness_description.present? ? user_info.deafness_description : '&nbsp;'
            %tr
              %td<
                Gender
              %td<
                = user_info.gender_description.present? ? user_info.gender_description : '&nbsp;'
            %tr
              %td<
                Preference
              %td<
                = user_info.orientation_description.present? ? user_info.orientation_description : '&nbsp;'.html_safe
            %tr
              %td<
                Relationship
              %td<
                = user_info.relationship_description.present? ? user_info.relationship_description : '&nbsp;'.html_safe
            %tr
              %td<
                Birthday
              %td<
                = user_info.dob.present? ? user_info.dob.strftime('%e %B') : '&nbsp;'
            %tr
              %td<
                Location
              %td<
                = user_info.location.present? ? user_info.location : '&nbsp;'
                                
          -# %div
          -#   = image_tag 'chat-b-side.png', :width=>'260px'
          -# %div
          -#   = image_tag 'message-b-side.png', :width=>'260px'
          -# %div
          -#   = image_tag 'photos-b-side.png', :width=>'260px'
          -# %div
          -#   = image_tag 'profile-b-side.png', :width=>'260px'
    %ul.buddy-bar.secondary
      %li
        = link_to 'Polaroid', 'polaroid', :class => 'flip headshot icon'
    -# %ul.buddy-bar.primary.navi
      -# %li
      -#   = link_to 'Chat', 'chat', :class => 'chat icon'
      -# %li
      -#   = link_to 'Message', 'message', :class => 'message icon'
      -# %li
      -#   = link_to 'Photos', 'photos', :class => 'photos icon'
      -# %li
      -#   = link_to 'Profile', 'profile', :class => 'profile icon last'
