- profile ||= avatar.profile
.face-container
  .back.face
    .content.scrollable
      .items
        .mini-profile
          %table.header<
            %tr
              %td.avatar<
                = avatar_image_tag(avatar, :style => :thumb)
              %td.username<
                = profile.user.first_name
              %td.age<
                = profile.user_info.age.present? ? profile.user_info.age : '&nbsp;'.html_safe
          %table.detail
            = render :partial => 'postings/avatars/user_info', :object => profile.user_info, :locals => { :attribute => :deafness }
            = render :partial => 'postings/avatars/user_info', :object => profile.user_info, :locals => { :attribute => :gender }
            = render :partial => 'postings/avatars/user_info', :object => profile.user_info, :locals => { :attribute => :orientation, :label => 'Preference' }
            = render :partial => 'postings/avatars/user_info', :object => profile.user_info, :locals => { :attribute => :relationship }
            = render :partial => 'postings/avatars/user_info', :object => profile.user_info, :locals => { :attribute => :birthday }
            = render :partial => 'postings/avatars/user_info', :object => profile.user_info, :locals => { :attribute => :location }
        .photo-grid
          - 1.upto(9) do |i|
            = image_tag('ffffff.gif', :class => "thumb#{ ' omega' if (i % 3) == 0}", :site => false)
        -#   = image_tag 'chat-b-side.png', :width=>'260px'
        -# %div
        -#   = image_tag 'message-b-side.png', :width=>'260px'
        -# %div
        -#   = image_tag 'photos-b-side.png', :width=>'260px'
        -# %div
        -#   = image_tag 'profile-b-side.png', :width=>'260px'
    %ul.buddy-bar.secondary
      %li
        = link_to 'Polaroid', 'polaroid', :class => 'flip headshot icon'
    %ul.buddy-bar.primary.navi
      -# %li
      -#   = link_to 'Chat', 'chat', :class => 'chat icon'
      -# %li
      -#   = link_to 'Message', 'message', :class => 'message icon'
      %li
        = link_to 'Profile', 'profile', :class => 'profile icon'
      %li
        = link_to 'Photos', 'photos', :class => 'photos icon last'
    - if content_for?(:polaroid_back_face)
      = content_for(:polaroid_back_face)
