%table
  %tr
    %td{ :colspan => '2' }
      %h2= label || "Upload a Photo to the Wave"
  %tr
    %td.avatar.thumb= thumb_image_tag(current_user)
    %td
      = form_for Posting::Photo.new, :url => wave_photos_path(:wave_id => wave), :html => { :multipart => true }, :remote => true do |f|
        %table.button_bar
          %tr
            %td.file_field= f.file_field :image
          %tr
            %td.submit
              = f.submit 'Upload Photo', :id => 'photo_upload_submit'
              = f.button :Cancel, :class => 'cancel'
