.posting.posting_text.form
  = form_for Posting::Text.new, :url => wave_posting_texts_path(@wave), :remote => true do |f|
    = hidden_field_tag :resolver, controller_name
    .text.canvas
      .content
        = f.text_area :body, :placeholder => 'About me'
    .button-bar.canvas.blank
      = f.sticky_until if current_user.admin?
      = f.submit :OK, :disable_with => 'OK'
      = f.button :Cancel, :class => 'cancel'
