.posting.posting_text.form
  = form_for Posting::Text.new, :url => wave_posting_texts_path(@wave), :remote => true do |f|
    = hidden_field_tag :resolver, controller_name
    .text.canvas
      .content
        = f.text_area :subject, :placeholder => 'Subject (optional)'
        = f.text_area :body, :placeholder => 'Say something!'
    .button-bar
      = f.submit :OK, :disable_with => 'OK'
      = f.button :Cancel, :class => 'cancel'
