= form_for Posting::Text.new, :url => wave_posting_texts_path(wave), :remote => true, :html => { :class => 'new_posting_text new_post_frame' } do |f|
  = f.resolve resolver  
  .new_post.blog
    .body
      = f.text_field :subject, :placeholder => 'Blog Title'
      = f.text_area :body, :placeholder => "What's on your mind?"
    .foot
      = f.sticky_until if current_user.admin?
      = f.submit 'Post'
      = f.cancel 'Cancel'
