.posting[text]
  %table
    %tr
      %td.avatar.thumb
        = render_post_it(text)
      %td
        - if text.subject
          %p.subject= text.subject
        - if text.body
          %p.body= text.body
        = render :partial => 'posting/comments/comment', :collection => text.children.comments
        %div{:id => "posting_#{text.id}_new_comment_well"}
        = render :partial => 'posting/comments/new', :locals => { :parent => text }
  = render_postings(text.children.postings)
