= content_for_sidebar_headshot(wave.user)
#floating
#frame
  %h1 #{wave.subject}
  = render :partial => 'reaction-template'
  = render :partial => 'layouts/shared/nav'
  - postings.each do |posting|
    = render_ambassador_posting(posting)
  = will_paginate postings, :class => 'pagination footer', :inner_window => 1, :outer_window => 1
  = render :partial => 'layouts/shared/unpublish_overlay'