<%= sidebar %>
<div class='grid_12 profile'>
	<h1>Account</h1>

	<% form_for :user, :url => postings_path(:format => :js), :html => { :id => 'new_posting', :multipart => true, :target => 'upload_frame' } do |f| %>
		<div class='span-12 last'>		
		  <h3 class='span-12 last'>Upload Photos</h3>
			<div id='upload_error_well' class='clear last' style='display:none'></div>
			<ul id='upload_well' class='postings index append-bottom last'>
				<%= render :partial => 'postings/posting', :collection => current_user.postings %>
			</ul>
			<div class='button_bar span-12 last'><%= f.file_field :image %><%= f.submit 'Upload', :id => 'upload_submit' %><%= spinner %></div>
		</div>
	<% end %>
</div>
<%= gutter %>

<iframe id='upload_frame' name="upload_frame" width='1' height='1' style='border:0px' src='about:blank'></iframe>

<% javascript_tag do %>
	jQuery(document).ready(function(){
		jQuery('#upload_submit').click(function(){
			// jQuery('#spinner').show();
		})
	});
<% end %>
