.wave[@wave]
  .grid_2
    &nbsp;
  .grid_6
    .polaroid.edit
      .face-container
        .front.face
          .content
            .pane.avatar
              = avatar_image_tag(@wave.user.avatar(current_site), :class => 'headshot', :style => 'polaroid', :gender => @wave.user.gender(current_site))
  .grid_6
    .polaroid.edit
      = form_for Posting::Invitation.new, :url => wave_posting_invitations_path(@wave), :remote => true do |f|
        .face-container
          .back.face
            .content.scrollable
              .items
                .pane.photo-grid
                  = render_photo_grid(@wave, @invitation_postings)
              %p.unobtrusive
                Click an empty box to invite a buddy            
            %table.button-bar.hidden
              %tr
                %td.input
                  = hidden_field_tag :li_eq
                  = hidden_field_tag :_method
                  = f.text_field :body, :placeholder => "buddy's email"
                %td.ok-cancel
                  = f.submit 'OK'
                  = f.button 'Cancel', :class => 'cancel'
