- user = comment.user
- nested = comment.parent[:parent_id].present?
%div{ :class => [ 'posting', 'comment_box', nested && 'nested' ]}[comment]
  .portrait= thimble_link_to_profile(user)
  .comment
    %p
      = link_to_profile(user)
      \- #{comment.body || comment.subject}
  %span.date Posted #{distance_of_time_in_words_to_now(comment.created_at)} ago
  - unless nested
    %span.reply= link_to 'Reply', new_posting_comment_path(comment), :remote => true
    
- comment_children = comment.children.type(Posting::Comment).published.order('updated_at asc')
- comment_children.each do |comment|
  - user = comment.user
  .posting.comment_box.nested[comment]
    .portrait= thimble_link_to_profile(user)
    .comment
      %p
        = link_to_profile(user)
        \- #{comment.subject || comment.body}
    %span.date Posted #{distance_of_time_in_words_to_now(comment.created_at)} ago
