- user = comment.user
- nested = comment.parent[:parent_id].present? && 'nested'

.mini_comment.posting{ uid(comment[:user_id]), gid, :class => [ nested ]}[ comment ]
  .portrait= thimble_link_to_profile(user, :remote => true)
  .comment
    %p #{comment.body}
    %span.date #{distance_of_time_in_words_to_now(comment.created_at).titleize} ago
    %span.reply= link_to 'Reply', new_posting_comment_path(comment), :remote => true

- comment_children = comment.children.type(Posting::Comment).published.order('created_at ASC')
- comment_children.each do |comment|
  - user = comment.user
  .mini_comment.posting.nested{ uid(comment[:user_id]) }[ comment ]
    =# link_to_unpublish(comment)
    .portrait= thimble_link_to_profile(user, :remote => true)
    .comment
      %p #{comment.body}
      %span.date #{distance_of_time_in_words_to_now(comment.created_at).titleize} ago
