- if current_user
  - nested = posting[:parent_id].present?
  %div{ :class => [ 'comment_box', nested && 'nested' ]}
    .portrait= thimble_link_to_profile(posting.user)
    = form_for Posting::Comment.new, :url => posting_comments_path(posting), :html => { :id => "#{dom_id(posting)}_new_comment" }, :remote => true do |f|
      = f.text_area :body, :placeholder => "Write a comment..."
      .foot
        %span.reply_to
          - if nested
            In response to #{posting.user.handle(current_site)}
        = f.submit 'OK'
        = f.cancel 'Cancel'
