- if current_user
  - form_id = "posting_#{parent.id}_new_comment"
  = link_to(image_tag('friskyfactory/new-comment.png', :site => false), new_posting_comment_path(parent), :class => 'new_posting_comment')
  .comment-bubble.hidden
    .c01<
      =# avatar_image_tag(current_user.avatar, :style => :thimble)
      = form_for Posting::Comment.new, :url => posting_comments_path(parent), :html => { :id => form_id }, :remote => true do |f|
        = f.text_area :body
        .button-bar
          = f.submit 'OK'
          = f.button 'Cancel', :class => 'cancel'
      = spinner :size => :big, :class => 'new_posting_comment_spinner'
    .c02<
      &nbsp;
