- if current_user
  .posting.posting_comment
    = form_for Posting::Comment.new, :url => posting_comments_path(posting), :html => { :id => "posting_#{posting.id}_new_comment" }, :remote => true do |f|
      .body
        = f.text_area :body, :maxlength => 130
        .button-bar
          = f.submit 'OK'
          = f.button 'Cancel', :class => 'cancel'
      .footer
        &nbsp;
    = link_to_new_comment(posting)
