#frame
  .container
    %h1 #{site.display_name} Users
    - if users.present?
      %table{ :class => [ 'admin', page_class ] }
        %thead
          %tr
            %th Avatar
            %th Handle
            %th Email
            %th Last Login
            %th.state Enabled?
            %th.role Admin?
            %th.emailable Emails?
        %tbody
          - users.each do |user|
            - default_personage = user.default_personage
            %tr
              %td
                .portrait= link_to thimble_image_tag(default_personage), admin_site_user_path(site, user)
                - user.personages.each do |personage|
                  - unless personage.id == default_personage.id
                    .portrait= link_to thimble_image_tag(personage), admin_site_user_path(site, user)
              %td
                = link_to default_personage.handle, admin_site_user_path(site, user)
              %td
                = link_to user.email, admin_site_user_path(site, user)
              %td.last_login
                - if login_date = user.current_login_at || user.last_login_at
                  #{distance_of_time_in_words_to_now(login_date)}&nbsp;ago
                - else
                  &nbsp;
              %td.state
                = check_box_tag "user[state]", true, user.enabled?, :'data-remote' => true, :'data-url' => admin_site_user_path(site, user, :format => :json), :'data-method' => :put, :id => "user_#{user.id}_admin"
              %td.role
                = check_box_tag "user[admin]", true, user.admin?, :'data-remote' => true, :'data-url' => admin_site_user_path(site, user, :format => :json), :'data-method' => :put, :id => "user_#{user.id}_admin"
              %td.emailable
                = check_box_tag 'user[default_personage_attributes][emailable_without_enabled_personage]', true, user.default_personage.emailable?, :'data-remote' => true, :'data-url' => admin_site_user_path(site, user, :format => :json), :'data-method' => :put, :id => "user_#{user.id}_emailable"
    = will_paginate(users)
    .button-bar.footer
