#frame
  .container
    %h1 Users
    - if site.users.present?
      %table{ :class => [ 'admin', page_class ] }
        %thead
          %tr
            %th &nbsp;
            %th Email
            %th Handle
            %th Last Login
            %th Role
            %th Email
        %tbody
          - users.each do |user|
            %tr
              %td
                .portrait= thimble_image_tag(user)
              %td= user.email
              %td= user.handle
              %td.last_login
                - if login_date = (user.current_login_at || user.last_login_at)
                  #{distance_of_time_in_words_to_now(login_date)}&nbsp;ago
                - else
                  &nbsp;
              %td.role= select_tag "user[role]", options_for_select(::Role.values, user.role), :'data-remote' => true, :'data-url' => admin_site_user_path(site, user, :format => :json), :'data-method' => :put, :id => "user_#{user.id}_role"
              %td.emailable= check_box_tag "user[emailable]", true, user.emailable?, :'data-remote' => true, :'data-url' => admin_site_user_path(site, user, :format => :json), :'data-method' => :put, :id => "user_#{user.id}_emailable"
    = will_paginate(users)
    .button-bar.footer
