.wave.current_user[@profile]{ :'data-profile_id' => @profile.id }
  .grid_2
    &nbsp;
  .grid_6
    .polaroid.edit
      - content_for :polaroid_front_face do
        .button-bar
          #{link_to 'Edit', edit_profile_path, :class => 'edit button'}
      = render :partial => 'wave/profiles/profile_front_face', :locals => { :profile => @profile }
  .grid_6
    .polaroid.edit
      - content_for :polaroid_back_face do
        .button-bar
          #{link_to 'Edit', edit_profile_path, :class => 'edit button'}
      .face-container
        .back.face
          .content.scrollable
            .items
              .pane.signals.mini-profile
                %table.header<
                  %tr
                    %td.avatar= avatar_image_tag(@profile.avatar, :style => :thumb, :anonymous => true, :gender => @profile.gender)
                    %td.username= @profile.handle
                    %td.age= @profile.age.present? ? @profile.age : '&nbsp;'.html_safe
                %table.detail
                  - current_site.signal_categories.each do |signal_category|
                    = render :partial => 'wave/profiles/signal_category', :object => signal_category
                  %tr
                    %td.label Birthday
                    %td.detail= @profile.dob.try(:strftime, '%e %B') || '&nbsp;'.html_safe
                  %tr
                    %td.label Location
                    %td.detail= @profile.location
          .button-bar
            #{link_to 'Edit', edit_profile_path, :class => 'edit button'}      
  .grid_2
    &nbsp;

:javascript
  $('div.button-bar a.button.edit')
    .button({ icons: { primary: 'ui-icon-pencil' }, text: false });