.grid_3
  &nbsp;
.grid_12
  %h1 Sign in, right now!
  .grid_5.suffix_11.alpha.omega
    - form_for UserSession.new, :url => user_sessions_path do |f|
      = f.text_field :email, :class => 'ui-widget'
      = f.password_field :password, :class => 'ui-widget'
      = f.submit 'Login!'
      = link_to 'Lurk&hellip', lurk_new_user_session_path, :class => 'button'
.grid_1
  &nbsp;
  
- content_for :pagejs do
  :plain 
    $('form#new_user_session button[type=submit]').button({ icons: { primary: 'ui-icon-check' }});
    $('form#new_user_session a.button').button();

    if (!$.browser.webkit) {
      $('#user_session_password').before('#{text_field_tag(:user_session_password_placeholder, nil, :value => placeholder_for(:password), :class => 'placeholder ui-widget')}');
      FF.passwordPrompt('#user_session_password', '#user_session_password_placeholder');			
      $('#user_session_password').removeAttr('placeholder').hide();
      $('input[placeholder]').placeholder({ className: 'placeholder' }).addClass('placeholder');			
    }				
