!!! 5
:plain
  <!--[if lt IE 8]><html lang="en-us" class="no-js ie"><![endif]-->
  <!--[if IE 8]><html lang="en-us" class="no-js ie ie8"><![endif]-->
  <!--[if gt IE 8]><html lang="en-us" class="no-js ie ie9"><![endif]-->
  <!--[if !IE]>--><html lang="en-us" class="no-js no-ie"><!--<![endif]-->
%head
  %meta{ :content => 'text/html; charset=utf-8', 'http-equiv' => 'Content-type' }
  %meta{ :'http-equiv' => 'X-UA-Compatible', :content => 'chrome=1' }
  %title= page_title

  = stylesheet_link_tag |
      'layouts/reset', |
      'application', |
      'posting/portrait', |
      'posting/portrait-override', |
      'layouts/shared/compatibility', |
      'layouts/shared/sidebar', |
      'layouts/shared/sidebar-override', |
      'layouts/admin/base', |
    :media => 'screen', |
    :cache => 'cache/admin'

  = stylesheet_link_tag "#{current_site.name}/admin", :media => 'screen'

  - if Rails.env.development?
    = stylesheet_link_tag 'development'
    = javascript_include_tag 'jquery'
  - else
    = javascript_include_tag 'http://code.jquery.com/jquery-1.6.4.min.js'

  = javascript_include_tag |
      'modernizr', |
      'jquery.tmpl.min', |
      'jquery_ujs', |
      'application', |
      'layouts/shared/compatibility', |
      'layouts/shared/sidebar', |
      'layouts/admin', |
    :cache => 'cache/admin'

  / [if lt IE 9]
    = javascript_include_tag 'ie8', :media => 'screen'

  - if Rails.env.development?
    = javascript_include_tag 'development'

  = csrf_meta_tag
%body{ :class => [ 'admin', page_class ]}
  #sidebar
    #head= site_logo_image_tag(site)
    .block.userspace
      .portrait
        = thimble_link_to_profile(current_user)
      %span.username
        = personages_select_tag(current_user)
    .block.navspace
      %ul
        %li= link_to 'Sites', admin_sites_path
        - if site.present? && site.persisted?
          %li= link_to 'Configuration', edit_admin_site_path(site)
          %li= link_to 'Users', admin_site_users_path(site)
          - if site.invite_only?
            %li= link_to 'Sign Up Codes', admin_site_invitation_sites_path(site)

  = compatibility_tag
  = yield
  = render :partial => 'layouts/shared/analytics'
:plain
  </html>
