!!! 5
%html.no-js
  %head
    %meta{ :content => 'text/html; charset=utf-8', 'http-equiv' => 'Content-type' }    
    / [if lt IE 9]
      %meta{ :'http-equiv' => 'X-UA-Compatible', :content => 'chrome=1' }
    %title
      = @title || current_site

    = stylesheet_links |
      'reset', 'forms', '960', |
      'friskyfactory/application', |
      'friskyfactory/admin', |
      'friskyfactory/scrollable', |
      "#{current_site}/jquery-ui.css", |
      'friskyfactory/ff.jquery-ui.css', |
      "friskyfactory/waves/", |
      "friskyfactory/postings/", |
      "#{current_site}/application", |
      "#{current_site}/waves/", |
      "#{current_site}/postings/", |
        :media => 'screen', :cache => "#{current_site}/cached"

    / [if IE]
      = stylesheet_link_tag "friskyfactory/ie", :media => 'screen'
      
    = yield(:stylesheets)
    :css
      #{yield(:pagecss)}

    - if Rails.env.development?
      = javascript_include_tag 'jquery.min.js', 'jquery-ui.min.js', 'jquery.tools.min.js', 'debug.js'
    - else
      = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js'
      = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js'
      = javascript_include_tag 'http://cdn.jquerytools.org/1.2.5/all/jquery.tools.min.js'
      
    = javascript_includes |
        'modernizr-1.6.min', |
        'jquery.topzindex.min', |
        'jquery.Storage', |
        'jquery.placehold-0.3.min', |
        'jquery.textareaCounter.plugin', |
        'pusher.min.js', |
        'autoresize.jquery.min.js', |
        'jquery.masonry.min.js', |
        'jquery.fileupload', |
        'jquery.fileupload-ui', |
        'rails', |
        'jquery.form', |
        'jquery.remotipart', |
        'jquery.flip', |
        'jquery.polaroid', |
        'jquery.postcard', |
        'jquery.ticket', |
        'application', |
        'broadcast', |
        'waves/', |
        'postings/', |
          :cache => 'cached'

    =# javascript_includes 'jquery.ff.countchars.js'
        
    = yield(:javascripts)    
    :javascript
      jQuery(function($){
        #{yield(:pagejs)}        
      });
    = csrf_meta_tag    
    
  %body{ :class => current_site, :'data-site_name' => current_site, :'data-first_name' => current_user.try(:first_name) }
    .floating-container.container_16.clearfix
    .container.container_16.clearfix
      = render :partial => "layouts/#{current_site}/header" unless @popup.present?
      = yield      
      = render :partial => "layouts/#{current_site}/footer" unless @popup.present?
      = render :partial => 'layouts/feedback' unless @popup.present? || Rails.env.development?
    = render :partial => 'layouts/analytics'
      