<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title><%# presenter.title -%></title>
	<%- if Rails.env.production? -%>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
	<%- else -%>
	<%= javascript_include_tag 'jquery' %>
	<%- end -%>
	<%= javascript_include_tag 'jquery-ui' %>
	<%= javascript_include_tag 'jquery.placeholder' %>
	<%= javascript_include_tag 'jrails' %>
	<%- if Rails.env.production? -%>
	<%= javascript_include_tag 'strophe/strophe.min.js' %>	
	<% else %>
	<%= javascript_include_tag 'strophe/strophe.js' %>
	<% end %>
	<%= javascript_include_tag 'chat' %>
	<%= javascript_include_tag 'application' %>
	<%= stylesheet_link_tag 'reset', :media => 'screen, projection' %>
	<%= stylesheet_link_tag 'forms', :media => 'screen, projection' %>	
	<%= stylesheet_link_tag '960gs/fluid',  :media => 'screen' -%>
	<%# stylesheet_link_tag '960gs/nav', :media => 'screen' -%>
	<!--[if IE 6]><%= stylesheet_link_tag '960gs/ie6' -%><![endif]-->
	<!--[if IE 7]><%= stylesheet_link_tag '960gs/ie' -%><![endif]-->	
	<%= stylesheet_link_tag "#{current_site}/jquery-ui.css", :media => 'screen, projection' %>
	<%= stylesheet_link_tag "#{current_site}/application", :media => 'screen, projection' %>
	<!--[if lt IE 8]><%= stylesheet_link_tag "#{current_site}/ie", :media => 'screen, projection' %><![endif]-->
	<%= stylesheet_link_tag "#{current_site}/postings", :media => 'screen, projection' %>
	<%= yield(:head) %>
</head>
<body class='<%= [ current_site, current_layout ].compact * ' ' -%>'>
	<%= fluid_container unless yield(:current_container) -%>
	<%= render(:partial => "layouts/#{current_site}/#{current_layout}_header") rescue render(:partial => "layouts/#{current_site}/header") rescue nil -%>
	<div class='container <%= yield(:current_container) -%> clearfix'>
		<%= sidebar -%>
		<%= yield -%>
		<%= gutter -%>
	</div>	
	<%= render(:partial => "layouts/#{current_site}/footer") rescue nil -%>
	<%= render(:partial => 'layouts/feedback') unless Rails.env.development? %>
</body>
</html>