!!! 5
%html.application.no-js
  %head
    %meta{ :content => 'text/html; charset=utf-8', 'http-equiv' => 'Content-type' }
    %meta{ :'http-equiv' => 'X-UA-Compatible', :content => 'chrome=1' }
    %title= @title || current_site.display_name

    = stylesheet_links |
      'reset', 'forms', '960', |
      'friskyfactory/application', |
      'friskyfactory/effects', |
      'friskyfactory/jquery-ui', |
      'friskyfactory/waves/', |
      'friskyfactory/postings/', |
      :media => 'screen', |
      :cache => 'friskyfactory/cache/application'
      
    = stylesheet_link_tag current_site.name, :media => 'screen'

    / [if IE]
      = stylesheet_link_tag "friskyfactory/ie", :media => 'screen'
      
    = yield(:stylesheets)
    - if page_css = yield(:pagecss).present?
      :css
        #{page_css}

    - if Rails.env.development?
      = javascript_include_tag 'lib/jquery/jquery.js', 'lib/jquery/jquery-ui.js', 'lib/jquery/jquery.tools.min.js', 'debug.js'
    - else
      = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js'
      = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js'
      = javascript_include_tag 'http://cdn.jquerytools.org/1.2.5/all/jquery.tools.min.js'
      
    = javascript_includes |
        'lib/modernizr-1.6.min', |
        'lib/jquery/jquery.topzindex.min', |
        'lib/jquery/jquery.Storage', |
        'lib/jquery/jquery.placehold-0.3.min', |
        'lib/jquery/jquery.textareaCounter.plugin', |
        'lib/pusher.min.js', |
        'lib/jquery/autoresize.jquery.min.js', |
        'lib/jquery/jquery.masonry.min.js', |
        'lib/jquery/jquery.fileupload', |
        'lib/jquery/jquery.fileupload-ui', |
        'lib/jquery/jquery.flip.min', |
        'lib/jquery/jquery.scrollTo-1.4.2-min', |
        'lib/jquery/waypoints.min', |
        'rails', |
        'lib/ff.effects', |
        'lib/ff.polaroid', |
        'lib/ff.postcard', |
        'lib/ff.ticket', |
        'app/layouts/application', |
        'waves/', |
        'postings/', |
        :cache => 'cache/application'

    - file_name = "app/#{controller_name}/#{action_name}.js"
    - if File.exists?("public/javascripts/#{file_name}")
      = javascript_include_tag file_name

    = yield(:javascripts)    
    - if page_js = yield(:pagejs).present?
      :javascript
        jQuery(function($){ #{page_js} });
        
    = csrf_meta_tag    
    
  %body{ :class => current_site, :'data-site_name' => current_site }
    .floating-container.container_16.clearfix
    .container.container_16.clearfix
      = render :partial => "layouts/header" unless @popup.present?
      = yield
      = render :partial => "layouts/footer" unless @popup.present?
    = render :partial => 'layouts/analytics'
      