!!! 5
%html.no-js
  %head
    %meta{ :content => 'text/html; charset=utf-8', 'http-equiv' => 'Content-type' }
    %meta{ :'http-equiv' => 'X-UA-Compatible', :content => 'chrome=1' }
    %title= @title || current_site

    = stylesheet_links |
      'reset', 'forms', '960', |
      'friskyfactory/application', |
      'friskyfactory/admin', |
      'friskyfactory/scrollable', |
      "#{current_site}/jquery-ui", |
      'friskyfactory/waves/', |
      'friskyfactory/postings/', |
      "#{current_site}/application", |
      "#{current_site}/waves/", |
      "#{current_site}/postings/", :media => 'screen', :cache => "#{current_site}/cached"

    / [if IE]
      = stylesheet_link_tag "friskyfactory/ie", :media => 'screen'
      
    = yield(:stylesheets)
    - if page_css = yield(:pagecss).present?
      :css
        #{page_css}

    - if Rails.env.development?
      = javascript_include_tag 'jquery.js', 'jquery-ui.js', 'jquery.tools.min.js', 'debug.js'
    - else
      = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js'
      = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js'
      = javascript_include_tag 'http://cdn.jquerytools.org/1.2.5/all/jquery.tools.min.js'
      
    = javascript_includes |
        'modernizr-1.6.min', |
        'jquery.topzindex.min', |
        'jquery.Storage', |
        'jquery.placehold-0.3.min', |
        'jquery.textareaCounter.plugin', |
        'pusher.min.js', |
        'autoresize.jquery.min.js', |
        'jquery.masonry.min.js', |
        'jquery.fileupload', |
        'jquery.fileupload-ui', |
        'jquery.flip.min', |
        'jquery.scrollTo-1.4.2-min', |
        'waypoints.min', |
        'rails', |
        'jquery.form', |
        'jquery.remotipart', |
        'ff.effects', |
        'ff.polaroid', |
        'ff.postcard', |
        'ff.ticket', |
        'application', |
        'waves/', |
        'postings/', :cache => 'cached'

    = yield(:javascripts)    
    - if page_js = yield(:pagejs).present?
      :javascript
        jQuery(function($){
          #{page_js}
        });
        
    = csrf_meta_tag    
    
  %body{ :class => current_site, :'data-site_name' => current_site }
    .floating-container.container_16.clearfix
    .container.container_16.clearfix
      = render :partial => "layouts/#{current_site}/header" unless @popup.present?
      = yield
      = render :partial => "layouts/#{current_site}/footer" unless @popup.present?
      = render :partial => 'layouts/feedback' unless @popup.present? || Rails.env.development?
    = render :partial => 'layouts/analytics'
      