!!!
%html
  %head
    %title {% title %}
    = stylesheet_link_tag |
        'application', |
        'layouts/reset', |
        'layouts/community/base', |
        'layouts/community/base-override', |
        'layouts/community/sidebar', |
        'layouts/community/reaction', |
        'layouts/community/post_reaction', |
        'posting/ads', |
        'posting/blog', |
        'posting/checkin', |
        'posting/comments', |
        'posting/comments-override', |
        'posting/itinerary', |
        'posting/multi-photos', |
        'posting/new_post', |
        'posting/photos', |
        'posting/portrait', |
        'posting/portrait-override', |
        'posting/post', |
        'posting/post-override', |
        'posting/signal', |
        'posting/status', |
        'posting/status-override', |
        'posting/temp', |
        'posting/tweet', |
        'posting/video', |
      :media => 'screen', |
      :cache => 'layouts/community/cache'

    - if Rails.env.development?
      = stylesheet_link_tag 'development'
      = javascript_include_tag 'jquery'
    - else
      = javascript_include_tag 'http://code.jquery.com/jquery-1.6.4.min.js'
      
    = javascript_include_tag |
        'modernizr', |
        'jquery_ujs', |
        'jquery.easing.1.3', |
        'jquery.headshot', |
        'jquery.effects', |
        'application', |
        'community', |
      :cache => 'community.cache'

  %body
    #sidebar
      #head
        %a{:href => "javascript:void();"} CLAYTON
      - if false
        .block.adspace
          %img{:src => "http://placehold.it/180x75"}
      .block.userspace
        .portrait
          %img{:src => "/images/users/x.png"}/
        %span.username John Doe
        %ul
          %li.home
          %li.messages
            %span 5
          %li.personal
          %li.invites
          %li.buddies
      %input{:name => "search", :placeholder => "Search...", :type => "text"}/
    #frame
      = yield
      - if Rails.env.development?
        #footnotes_holder{ :style => 'display:block' }
