!!! 5
:plain
  <!--[if IE 8]><html lang="en-us" class="no-js ie ie8"><![endif]-->
  <!--[if gt IE 8]><html lang="en-us" class="no-js ie ie9"><![endif]-->
  <!--[if !IE]>--><html lang="en-us" class="no-js no-ie"><!--<![endif]-->
%head
  %meta{ :content => 'text/html; charset=utf-8', 'http-equiv' => 'Content-type' }
  %meta{ :'http-equiv' => 'X-UA-Compatible', :content => 'chrome=1' }
  %title #{current_site.display_name}

  = stylesheet_link_tag |
      'application', |
      'effects', |
      'layouts/reset', |
      'layouts/shared/overlay', |
      'layouts/shared/nav', |
      'layouts/community/base', |
      'layouts/community/base-override', |
      'layouts/community/sidebar', |
      'layouts/community/sidebar-override', |
      'layouts/community/reaction', |
      'layouts/community/post_reaction', |
      'layouts/community/rollcall', |
      'posting/ads', |
      'posting/album', |
      'posting/blog', |
      'posting/blog-override', |
      'posting/checkin', |
      'posting/comments', |
      'posting/comments-override', |
      'posting/headshot', |
      'posting/itinerary', |
      'posting/link-override', |
      'posting/multi-photos', |
      'posting/new_post', |
      'posting/new_post-override', |
      'posting/photos', |
      'posting/photos-override', |
      'posting/portrait', |
      'posting/portrait-override', |
      'posting/post', |
      'posting/post-override', |
      'posting/signal', |
      'posting/status', |
      'posting/status-override', |
      'posting/temp', |
      'posting/tweet', |
      'posting/video', |
      'posting/video-override', |
    :media => 'screen', |
    :cache => 'layouts/community/cache'

  = stylesheet_link_tag "#{current_site.name}/community", :media => 'screen'

  - if Rails.env.development?
    = stylesheet_link_tag 'development'
    = javascript_include_tag 'jquery', 'jquery.tools-1.2.6.tiny.min.js', 'pusher.js'
  - else
    = javascript_include_tag 'http://code.jquery.com/jquery-1.6.4.min.js'
    = javascript_include_tag 'http://cdn.jquerytools.org/1.2.6/tiny/jquery.tools.min.js'
    = javascript_include_tag 'http://js.pusherapp.com/1.8/pusher.min.js'

  = javascript_include_tag |
      'modernizr', |
      'jquery-ui-1.8.16.custom.min', |
      'jquery.flip', |
      'jquery.scrollTo-1.4.2-min', |
      'jquery.fileupload', |
      'jquery.fileupload-ui', |
      'jquery.chat', |
      'jquery.headshot', |
      'jquery.effects', |
      'jquery.nav', |
      'jquery.unpublish-overlay', |
      'jquery_ujs', |
      'application', |
      'layouts/community', |
      'layouts/shared/album', |
    :cache => 'community.cache'

  - if Rails.env.development?
    = javascript_include_tag 'development'

  = csrf_meta_tag
%body{uid, gid}
  = render :partial => 'layouts/shared/sidebar'
  #frame
    = yield
  - if Rails.env.development?
    #footnotes_holder{ :style => 'display:block' }
:plain
  </html>
