!!! 5
:plain
  <!--[if lt IE 8]><html lang="en-us" class="no-js ie"><![endif]-->
  <!--[if IE 8]><html lang="en-us" class="no-js ie ie8"><![endif]-->
  <!--[if gt IE 8]><html lang="en-us" class="no-js ie ie9"><![endif]-->
  <!--[if !IE]>--><html lang="en-us" class="no-js no-ie"><!--<![endif]-->
%head
  %meta{ "http-equiv" => "Content-type", "content" => "text/html; charset=utf-8" }
  %meta{ "http-equiv" => "X-UA-Compatible", "content" => "chrome=1" }
  %title #{page_title}

  = stylesheet_link_tag "layouts/community/index.css", media: "all", concat: (Rails.env.development? && isIE?)
  = stylesheet_link_tag "#{current_site.name}/community", media: "all"
  :css
    body.#{current_user.uid} .#{current_user.uid}:hover a.admin { visibility: visible; opacity: 1; }
    .ie8 body.#{current_user.uid} .#{current_user.uid}:hover a.admin { visibility: visible; }

  - if [ "development", "test" ].include? Rails.env
    = javascript_include_tag "jquery/1.7.2/jquery.js"
    = javascript_include_tag "jquery.tools/1.2.6/tiny/jquery.tools.min.js"
    = javascript_include_tag "pusher/1.8.3/pusher.js"
  - else
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"
    = javascript_include_tag "http://cdn.jquerytools.org/1.2.6/tiny/jquery.tools.min.js"
    = javascript_include_tag "http://js.pusherapp.com/1.8/pusher.min.js"
  = javascript_include_tag "layouts/community/index.js"
  / [if lt IE 9]
    = javascript_include_tag "ie8.js"
  = javascript_include_tag "development.js" if Rails.env.development?

  = csrf_meta_tag

%body{ uid, gid, :class => page_class }
  = render :partial => 'layouts/shared/sidebar'
  = compatibility_tag
  = yield
  = render :partial => 'layouts/shared/analytics'
:plain
  </html>
