!!! 5
:plain
  <!--[if IE 8]><html lang="en-us" class="no-js ie ie8"><![endif]-->
  <!--[if gt IE 8]><html lang="en-us" class="no-js ie ie9"><![endif]-->
  <!--[if !IE]>--><html lang="en-us" class="no-js no-ie"><!--<![endif]-->
%head
  %meta{ :content => 'text/html; charset=utf-8', 'http-equiv' => 'Content-type' }
  %meta{ :'http-equiv' => 'X-UA-Compatible', :content => 'chrome=1' }
  %title= page_title

  = stylesheet_link_tag |
      'layouts/reset', |
      'application', |
      'layouts/personage/base', |
      'layouts/shared/sidebar', |
      'layouts/shared/sidebar-override', |
      'posting/headshot', |
      'posting/portrait', |
      'posting/portrait-override', |
    :media => 'screen', |
    :cache => 'layouts/personage/cache'

  = stylesheet_link_tag "#{current_site.name}/profile", :media => 'screen'

  - if Rails.env.development?
    = stylesheet_link_tag 'development'
    = javascript_include_tag 'jquery'
  - else
    = javascript_include_tag 'http://code.jquery.com/jquery-1.6.4.min.js'

  = javascript_include_tag |
      'modernizr', |
      'jquery-ui-1.8.16.custom.min', |
      'jquery.tmpl.min', |
      'jquery.fileupload.v4/jquery.fileupload', |
      'jquery.fileupload.v4/jquery.fileupload-ui', |
      'jquery.placeholder.min', |
      'jquery_ujs', |
      'layouts/shared/sidebar', |      
      'layouts/personage', |
    :cache => 'layouts/personage.cached'

  / [if lt IE 9]
    = javascript_include_tag 'ie8', :media => 'screen'

  - if Rails.env.development?
    = javascript_include_tag 'development'
      
  = csrf_meta_tag 
%body
  = render :partial => 'layouts/shared/sidebar'
  = yield
  = render :partial => "layouts/shared/footer"
  = render :partial => 'layouts/shared/analytics'
:plain
  </html>