!!! 5
:plain
  <!--[if IE 8]><html lang="en-us" class="no-js ie ie8"><![endif]-->
  <!--[if gt IE 8]><html lang="en-us" class="no-js ie ie9"><![endif]-->
  <!--[if !IE]>--><html lang="en-us" class="no-js no-ie"><!--<![endif]-->
%head
  %meta{ "http-equiv" => "Content-type", "content" => "text/html; charset=utf-8" }
  %meta{ "http-equiv" => "X-UA-Compatible", "content" => "chrome=1" }
  %title #{page_title}

  = stylesheet_link_tag "layouts/personage/index.css", media: "screen"
  = stylesheet_link_tag "#{current_site.name}/profile", media:"screen"

  - if [ "development", "test" ].include? Rails.env
    = javascript_include_tag "jquery/1.6.4/jquery.js"
    = javascript_include_tag "jquery.tools/1.2.6/tiny/jquery.tools.min.js"
  - else
    = javascript_include_tag "http://code.jquery.com/jquery-1.6.4.min.js"
    = javascript_include_tag "http://cdn.jquerytools.org/1.2.6/tiny/jquery.tools.min.js"
  = javascript_include_tag "layouts/personage/index.js"
  / [if lt IE 9]
    = javascript_include_tag "ie8.js", media: "screen"
  = javascript_include_tag "development.js" if Rails.env.development?

  = csrf_meta_tag

%body{ :class => page_class }
  = render :partial => "personages/sidebar_menu"
  = render :partial => "layouts/shared/sidebar"
  = yield
  = render :partial => "layouts/shared/footer"
  = render :partial => "layouts/shared/analytics"
:plain
  </html>
