!!! 5
:plain
  <!--[if lt IE 8]><html lang="en-us" class="no-js ie"><![endif]-->
  <!--[if IE 8]><html lang="en-us" class="no-js ie ie8"><![endif]-->
  <!--[if gt IE 8]><html lang="en-us" class="no-js ie ie9"><![endif]-->
  <!--[if !IE]>--><html lang="en-us" class="no-js no-ie"><!--<![endif]-->
%head
  %meta{ :content => 'text/html; charset=utf-8', 'http-equiv' => 'Content-type' }
  %meta{ :'http-equiv' => 'X-UA-Compatible', :content => 'chrome=1' }
  %title #{page_title}

  = stylesheet_link_tag |
      'layouts/reset', |
      'application', |
      'posting/headshot', |
      'posting/portrait', |
      'posting/portrait-override', |
      'layouts/shared/tag_cloud', |
      'layouts/shared/sidebar', |
      'layouts/shared/sidebar-override', |
      'layouts/shared/compatibility', |
      'layouts/community/base', |
      'layouts/community/base-override', |
      'layouts/rollcall/base', |
    :media => 'screen', |
    :cache => 'cache/rollcall' #, :concat => true

  = stylesheet_link_tag "#{current_site.name}/community", :media => 'screen'

  - if Rails.env.development?
    = stylesheet_link_tag 'development'
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'pusher'
  - else
    = javascript_include_tag 'http://code.jquery.com/jquery-1.6.4.min.js'
    = javascript_include_tag 'http://js.pusherapp.com/1.8/pusher.min.js'

  = javascript_include_tag |
      'modernizr', |
      'jquery-ui-1.8.16.custom.min', |
      'jquery.scrollTo-1.4.2-min', |
      'jquery.flip', |
      'jquery.placeholder.min', |
      'jquery.chat', |
      'jquery.headshot', |
      'jquery_ujs', |
      'application', |
      'layouts/shared/compatibility', |
      'layouts/shared/sidebar', |
      'layouts/rollcall', |
    :cache => 'cache/rollcall'

  / [if lt IE 9]
    = javascript_include_tag 'ie8', :media => 'screen'

  - if Rails.env.development?
    = javascript_include_tag 'development'

  = csrf_meta_tag
%body{ uid, gid, :class => page_class }
  = render :partial => 'layouts/shared/sidebar'
  = compatibility_tag
  = yield
  - if Rails.env.development?
    #footnotes_holder{ :style => 'display:block' }
  = render :partial => 'layouts/shared/analytics'
:plain
  </html>
