!!! 5
:plain
  <!--[if lt IE 8]><html lang="en-us" class="no-js ie"><![endif]-->
  <!--[if IE 8]><html lang="en-us" class="no-js ie ie8"><![endif]-->
  <!--[if gt IE 8]><html lang="en-us" class="no-js ie ie9"><![endif]-->
  <!--[if !IE]>--><html lang="en-us" class="no-js no-ie"><!--<![endif]-->
%head
  %meta{ :content => 'text/html; charset=utf-8', 'http-equiv' => 'Content-type' }
  %meta{ :'http-equiv' => 'X-UA-Compatible', :content => 'chrome=1' }
  %title #{page_title}

  = stylesheet_link_tag |
      'layouts/reset', |
      'application', |
      'effects', |
      'posting/ads', |
      'posting/album', |
      'posting/blog', |
      'posting/blog-override', |
      'posting/checkin', |
      'posting/comments', |
      'posting/comments-override', |
      'posting/comments_mini', |
      'posting/comments_mini-override', |
      'posting/headshot', |
      'posting/itinerary', |
      'posting/link-override', |
      'posting/multi-photos', |
      'posting/new_post', |
      'posting/new_post-override', |
      'posting/photos', |
      'posting/photos-override', |
      'posting/portrait', |
      'posting/portrait-override', |
      'posting/post', |
      'posting/post-override', |
      'posting/signal', |
      'posting/status', |
      'posting/status-override', |
      'posting/temp', |
      'posting/tweet', |
      'posting/video', |
      'posting/video-override', |
      'layouts/shared/unpublish-overlay', |
      'layouts/shared/nav', |
      'layouts/shared/tag_cloud', |
      'layouts/shared/sidebar', |
      'layouts/shared/sidebar-override', |
      'layouts/shared/compatibility', |
      'layouts/three-column/base', |
      'layouts/three-column/base-override', |
      'layouts/three-column/reaction', |
      'layouts/three-column/reaction-override', |
      'layouts/three-column/post_reaction', |
      'layouts/three-column/rollcall', |
      'layouts/three-column/floating', |
    :media => 'screen', |
    :cache => 'cache/three-column' #, :concat => true

  = stylesheet_link_tag "#{current_site.name}/three-column", :media => 'screen'

  :css
    body.#{current_user.uid} .post.#{current_user.uid}:hover a.remove,
    body.#{current_user.uid} .comment_box.#{current_user.uid}:hover a.remove { visibility: visible; opacity: 1; }

    .ie8 body.#{current_user.uid} .post.#{current_user.uid}:hover a.remove,
    .ie8 body.#{current_user.uid} .comment_box.#{current_user.uid}:hover a.remove { visibility: visible; }

  - if Rails.env.development?
    = stylesheet_link_tag 'development'
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'jquery.tools-1.2.6.tiny.min'
    = javascript_include_tag 'pusher'
  - else
    = javascript_include_tag 'http://code.jquery.com/jquery-1.6.4.min.js'
    = javascript_include_tag 'http://cdn.jquerytools.org/1.2.6/tiny/jquery.tools.min.js'
    = javascript_include_tag 'http://js.pusherapp.com/1.8/pusher.min.js'

  = javascript_include_tag |
      'modernizr', |
      'jquery-ui-1.8.16.custom.min', |
      'jquery.tmpl.min', |
      'jquery.flip', |
      'jquery.scrollTo-1.4.2-min', |
      'jquery.fileupload.v4/jquery.fileupload', |
      'jquery.fileupload.v4/jquery.fileupload-ui', |
      'jquery.placeholder.min', |
      'jquery.chat', |
      'jquery.headshot', |
      'jquery.effects', |
      'jquery.unpublish-overlay', |
      'jquery_ujs', |
      'application', |
      'layouts/shared/album', |
      'layouts/shared/compatibility', |
      'layouts/shared/floating', |
      'layouts/shared/nav', |
      'layouts/shared/sidebar', |
      'layouts/shared/video', |
      'layouts/three-column', |
    :cache => 'cache/three-column'

  / [if lt IE 9]
    = javascript_include_tag 'ie8', :media => 'screen'

  - if Rails.env.development?
    = javascript_include_tag 'development'

  = csrf_meta_tag
%body{ uid, gid, :class => page_class }
  = render :partial => 'layouts/shared/sidebar'
  = compatibility_tag
  = yield
  - if Rails.env.development?
    #footnotes_holder{ :style => 'display:block' }
  = render :partial => 'layouts/shared/analytics'
:plain
  </html>
