!!! 5
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-type"}
    %title FriskyHands
    = stylesheet_links 'reset', 'forms', '960', :media => 'screen', :cache => 'cached'
    - site = current_site
    = stylesheet_links |
        "#{site}/jquery-ui.css", |
        "#{site}/application", |
        "#{site}/welcome", :media => 'screen', :cache => "#{site}/welcome-cached"      
    / [if IE]
      = stylesheet_link_tag "#{current_site}/ie", :media => 'screen'

    - if Rails.env.development?
      = javascript_include_tag 'jquery.min.js', 'jquery-ui.min.js', 'debug.js'
    - else
      = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js'
      = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js'
    = javascript_includes 'jquery.placeholder', 'welcome', :cache => 'welcome-cached'
  
  %body{ :class => current_site }
    .container.container_16.clearfix
      .badge.prefix_3.grid_10.suffix_3
        = image_tag 'badge.png', :size => '520x220'
        %h1 A Sign of Good Times!
        %h4 FriskyHands is the social networking site designed especially for the Deaf GLBTQ Community and their Friends.
      .creative.prepend-top.prefix_2.grid_12.suffix_2
        = yield
    .footer
      %p
        %span
          &copy;&nbsp;#{Date.today.year} Frisky Factory LLC, New York, NY
        = render :partial => '/layouts/grid'

    :javascript
      jQuery(function($){
        $('button, .button').button();
        $("button[type='submit']").button({ icons: { primary: 'ui-icon-check' }});
      });
      
    - if Rails.env.production?
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-19948002-1']);
        _gaq.push(['_setDomainName', '.friskyhands.com']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();     
      