!!! 5
:plain
  <!--[if IE 8]><html lang="en-us" class="no-js ie ie8"><![endif]-->
  <!--[if gt IE 8]><html lang="en-us" class="no-js ie ie9"><![endif]-->
  <!--[if !IE]>--><html lang="en-us" class="no-js no-ie"><!--<![endif]-->
%head
  %meta{ :content => 'text/html; charset=utf-8', 'http-equiv' => 'Content-type' }
  %meta{ :'http-equiv' => 'X-UA-Compatible', :content => 'chrome=1' }
  %title #{current_site.display_name} - Welcome!

  = stylesheet_link_tag |
      'layouts/reset', |
      'application', |
      'layouts/welcome/welcome', |
      'layouts/welcome/welcome-override', |
      'layouts/welcome/animation', |
      'posting/headshot', |
      'posting/portrait', |
      'posting/portrait-override', |
    :media => 'screen', |
    :cache => 'cache/welcome'

  - if Rails.env.development?
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'jquery.tools-1.2.6.tiny.min'
  - else
    = javascript_include_tag 'http://code.jquery.com/jquery-1.6.4.min.js'
    = javascript_include_tag 'http://cdn.jquerytools.org/1.2.6/tiny/jquery.tools.min.js'

  = javascript_include_tag |
      'modernizr', |
      'application', |
      'jquery-ui-1.8.16.custom.min', |
      'jquery.flip', |
      'jquery.headshot', |
      'jquery.placeholder.min', |
      'layouts/welcome', |
    :cache => 'cache/welcome'

%body
  #header
    .frame
      = asset_image_tag :logo_transparent, :id => 'logo'

      - if false
        %form
          %input{:name => "email", :placeholder => "email address", :type => "text"}/
          %input{:name => "password", :placeholder => "password", :type => "password"}/
          %label.checkbox
            %input{:name => "remember", :type => "checkbox", :value => "remember"}/
          %input{:name => "signin", :type => "submit", :value => "Sign In"}/
      
      = form_for UserSession.new, :url => user_sessions_path do |f|
        = f.text_field :email, :placeholder => 'email address'
        = f.password_field :password, :placeholder => 'password'
        %label.checkbox
          %input{:name => "remember", :type => "checkbox", :value => "remember"}/
        = f.submit 'Sign In'

  .frame
    .col.left
      - if text = current_site.assets[:headline].try(:value)
        %h1= text
      - if text = current_site.assets[:byline].try(:value)
        %p= text
      %p
        Your privacy and safety are our number-one concerns. No search
        engine nor any other web site can access your #{current_site.display_name}
        secured profile.
    #badge
      - if false
        %form
          %h2 Sign up now to start socializing!
          %input{:name => "name", :placeholder => "First Name", :type => "text"}/
          %input{:name => "email", :placeholder => "Email Address", :type => "text"}/
          %input{:name => "password", :placeholder => "Password", :type => "password"}/
          %input{:name => "password_again", :placeholder => "Retype Password", :type => "password"}/
          %input{:name => "age", :placeholder => "Age", :type => "text"}/
          %input{:name => "location", :placeholder => "Location", :type => "text"}/
          %input{:name => "Signup", :type => "submit", :value => "Sign Up"}/

      - else
        = form_for @user do |f|
          %h2 Sign up to meet others just like you!
          =# f.hidden_field :invitation_code
          = f.text_field :handle, :placeholder => 'First Name'
          = f.text_field :email, :placeholder => 'Email Address'
          = f.password_field :password, :placeholder => 'Password'
          = f.password_field :password_confirmation, :placeholder => 'Retype Password'
          %input{:name => "age", :placeholder => "Age", :type => "text"}/
          %input{:name => "location", :placeholder => "Location", :type => "text"}/
          =# f.existing_user_password_label :password, 'Use your friskyfactory password', :current_site => current_site          
          =# f.new_user_password_confirmation_field :password_confirmation, 'Retype your password', :current_site => current_site, :class => 'password ui-widget', :placeholder => 'password_confirmation'          
          = f.submit 'Signup'

    #stream
      #container
        .portrait
          %img{:src => "/images/labs/users/a.png"}/
        .portrait
          %img{:src => "/images/labs/users/b.png"}/
        .portrait
          %img{:src => "/images/labs/users/c.png"}/
        .portrait
          %img{:src => "/images/labs/users/d.png"}/
        .portrait
          %img{:src => "/images/labs/users/e.png"}/
        .portrait
          %img{:src => "/images/labs/users/f.png"}/
        .portrait
          %img{:src => "/images/labs/users/g.png"}/
        .portrait
          %img{:src => "/images/labs/users/h.png"}/
        .portrait
          %img{:src => "/images/labs/users/i.png"}/
        .portrait
          %img{:src => "/images/labs/users/j.png"}/
        .portrait
          %img{:src => "/images/labs/users/k.png"}/
        .portrait
          %img{:src => "/images/labs/users/a.png"}/
        .portrait
          %img{:src => "/images/labs/users/b.png"}/
        .portrait
          %img{:src => "/images/labs/users/c.png"}/
        .portrait
          %img{:src => "/images/labs/users/d.png"}/
        .portrait
          %img{:src => "/images/labs/users/e.png"}/
        .portrait
          %img{:src => "/images/labs/users/f.png"}/
        .portrait
          %img{:src => "/images/labs/users/g.png"}/
        .portrait
          %img{:src => "/images/labs/users/h.png"}/
        .portrait
          %img{:src => "/images/labs/users/i.png"}/
        .portrait
          %img{:src => "/images/labs/users/j.png"}/
    .cells
      - if false
        .cell
          .thumb.a
            %img{:src => "/images/labs/brands/friskyhands/screenshots/preview_a.png"}/
          %p The FriskyHands information stream shows you who FriskyHands members are and what they enjoy doing.
        .cell
          .thumb.a
            %img{:src => "/images/labs/brands/friskyhands/screenshots/preview_b.png"}/
          %p Chat with and make new friends every day. Get to know others who share your likes and interests.
        .cell
          .thumb.a
            %img{:src => "/images/labs/brands/friskyhands/screenshots/preview_c.png"}/
          %p Share your thoughts, places, photos, videos, vacations, and so much more with Frisky Hands.
      - else
        - profiles = current_site.waves.type(Wave::Profile).limit(4)
        = headshot_tag profiles[0]
        = headshot_tag profiles[1]
        = headshot_tag profiles[2]
        = headshot_tag profiles[3]
        
    .quotes
      .quote
        .portrait
          %img{:src => "/images/labs/users/a.png"}/
        .note
          %p FriskyHands is magical and amazing! I met so many amazing people!
      .quote
        .portrait
          %img{:src => "/images/labs/users/b.png"}/
        .note
          %p My name is Todd, and I am not a paid actor. Frisky hands is super, great, amazing, awesome, and...uh...super. I love using Frisky Hands every day of the week.
      .quote
        .portrait
          %img{:src => "/images/labs/users/c.png"}/
        .note
          %p FriskyHands is the most friskiest of all the friskies. Friskier then a freaking frisker. Frisky McFriskerton. I'm feeling fairly frisky this Friday.
      .quote
        .portrait
          %img{:src => "/images/labs/users/d.png"}/
        .note
          %p Can everyone on the internet see this review? Really? Everyone? HI MOM!
    %hr/
    .footer © copyright 2011 Frisky Factory LLC, New York, NY
  :javascript
    $(document).ready(function(){
    	$('#badge').addClass('animation');
    	setInterval(function(){
    		var obj = $('#stream .portrait').first()
    		obj.clone().appendTo('#container');
    		obj.animate({marginLeft: -35}, 500, function(){
    			obj.remove();
    		});
    	}, 2500);
    })
:plain
  </html>