!!! 5
:plain
  <!--[if IE 8]><html lang="en-us" class="no-js ie ie8"><![endif]-->
  <!--[if gt IE 8]><html lang="en-us" class="no-js ie ie9"><![endif]-->
  <!--[if !IE]>--><html lang="en-us" class="no-js no-ie"><!--<![endif]-->
%head
  %meta{ "http-equiv" => "Content-type", "content" => "text/html; charset=utf-8" }
  %meta{ "http-equiv" => "X-UA-Compatible", "content" => "chrome=1" }
  %title #{current_site.display_name} - Welcome!

  = stylesheet_link_tag "layouts/welcome/index.css", media: "all"
  = stylesheet_link_tag "#{current_site.name}/welcome", media: "all"

  - if [ "development", "test" ].include? Rails.env
    = javascript_include_tag "jquery-1_7_2.js"
    = javascript_include_tag "jquery.tools-1_2_6.tiny.min.js"
  - else
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"
    = javascript_include_tag "http://cdn.jquerytools.org/1.2.6/tiny/jquery.tools.min.js"
  = javascript_include_tag "layouts/welcome/index.js"
  = javascript_include_tag "development.js" if Rails.env.development?

%body{ :class => page_class }
  = yield
:plain
  </html>
