!!! 5
%html.no-js
  %head
    %meta{ :content => 'text/html; charset=utf-8', 'http-equiv' => 'Content-type' }
    - if browser_is('ie')
      %meta{ :'http-equiv' => 'X-UA-Compatible', :content => 'chrome=1' }
    %title
      = current_site.name.titleize
    = stylesheet_links |
      'reset', 'forms', '960', |
      'friskyfactory/application', |
      'friskyfactory/welcome', |
      "#{current_site}/jquery-ui.css", |
      "#{current_site}/welcome", :media => 'screen', :cache => "#{current_site}/welcome.cached"
        
    / [if IE]
      = stylesheet_link_tag 'friskyfactory/ie', :media => 'screen'

    - if Rails.env.development?
      = javascript_include_tag 'jquery.js', 'jquery-ui.js', 'debug.js'
    - else
      = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js'
      = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js'
      
    = javascript_includes |
        'modernizr-1.6.min', |    
        'rails', |
        'jquery.placehold-0.3.min', |
        'welcome', |
          :cache => 'welcome-cached'
  
  %body{ :class => current_site, :'data-site'=> current_site }
    .container.container_16.clearfix
      = render :partial => File.join('layouts', current_site.name, 'badge')
      = yield
    .page.footer
      %p
        %span
          &copy;&nbsp;#{Date.today.year} Frisky Factory LLC, New York, NY
        = render :partial => 'layouts/grid'  
    = render :partial => 'layouts/analytics'
