.posting[video]
  %table
    %tr
      %td.avatar.thumb
        = render_post_it(video)
      %td
        = video.body.html_safe
        %p= video.subject
        = render :partial => 'posting/comments/comment', :collection => video.children.comments
        %div{:id => "posting_#{video.id}_new_comment_well"}
        = render :partial => 'posting/comments/new', :locals => { :parent => video }
