= form_for @admin_site do |f|
  -if @admin_site.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_site.errors.count, "error")} prohibited this admin_site from being saved:"
      %ul
        - @admin_site.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
