= form_for([ :admin, @site ], :html => { :multipart => true }) do |f|  
  %table.form
    %tr
      %td
        = f.label :name
        %br/
        %span.unobtrusive
          Name of the site in the url
      %td
        = f.text_field :name, :placeholder => 'excellentsite'
        = f.error_message_on :name
    %tr
      %td
        = f.label :display_name
        %br/
        %span.unobtrusive
          Displayed on site's pages
      %td
        = f.text_field :display_name, :placeholder => 'Excellent Site'
        = f.error_message_on :display_name
    %tr
      %td
        = f.label :analytics_domain_name
        %br/
        %span.unobtrusive
          Copy from Google analytics
      %td
        = f.text_field :analytics_domain_name, :placeholder => '.excellent-site.com'
        = f.error_message_on :analytics_domain_name
    %tr
      %td
        = f.label :analytics_account_number
        %br/
        %span.unobtrusive
          Copy from Google analytics
      %td
        = f.text_field :analytics_account_number, :placeholder => 'UA-xxxxxxxx-x'
        = f.error_message_on :analytics_account_number
        
    %tr.signals
      %td
        %label Signals
      %td
        %table
          - @site.signal_categories.each do |signal_category|
            %tr
              %td
                %em= signal_category.display_name
              %td
                - signal_category.signals.each do |signal|
                  = signal.display_name
                  %br/
          
    %tr.stylesheet
      %td
        =f.label :css, 'Stylesheet'
        %br/
        %span.unobtrusive
          Supports SCSS
      %td
        = f.text_area :css
    %tr.assets.constants
      %td
        = f.label :constants
        %br/
        %span.unobtrusive
          Available in SCSS as $name
      %td
        .table
          = f.fields_for :constants do |asset_form|
            .tr.asset.constant
              .td= asset_form.text_field :name, :placeholder => 'name'
              .td= asset_form.text_field :value, :placeholder => 'value'
              - if asset_form.object.new_record?
                .td &nbsp
              - else
                .td
                  = asset_form.check_box('_destroy')
                  = asset_form.label('_destroy', 'Remove')
    %tr.assets.images
      %td
        = f.label :images
        %br/
        %span.unobtrusive
          Available in SCSS as $name
      %td
        .table
          = f.fields_for :images do |asset_form|
            .tr.asset.image
              - if asset_form.object.new_record?
                .td.silhouette= image_tag 'friskyfactory/silhouette-q.gif', :size => '32x32', :site => false
                .td
                  = asset_form.text_field :name, :placeholder => 'name'
                  = asset_form.file_field :asset
                .td &nbsp;
              - else
                .td= image_tag asset_form.object.asset.url(:thumb), :site => false
                .td= asset_form.text_field :name, :placeholder => 'name'
                .td
                  = asset_form.check_box('_destroy')
                  = asset_form.label('_destroy', 'Remove')
    %tr
      %td &nbsp;
      %td
        = f.check_box :launch
        = f.label :launch, "&#8220;Coming Soon&#8221; launch page".html_safe
    %tr
      %td &nbsp;
      %td
        = f.check_box :invite_only
        = f.label :invite_only, 'Requires an invitation to join'
    
  .button-bar.footer
    = f.submit 'Save'
    = link_to 'Cancel', admin_sites_path, :class => 'button cancel'
