- unless photo.nil?
  .posting[photo]
    %table
      %tr
        %td.avatar.thumb
          = render_post_it(photo)
        %td
          = render_photo(photo)
          %p
          = render :partial => 'posting/comments/comment', :collection => photo.children.comments
          %div{:id => "posting_#{photo.id}_new_comment_well"}
          = render :partial => 'posting/comments/new', :locals => { :parent => photo }
