- user = photo.user
.post_frame.posting[ photo ]{ uid(photo[:user_id]) }
  .post.photos
    = link_to_unpublish(photo)
    .portrait
      = thimble_link_to_profile(user)
    .clear
      .photo{ :class => photo.horizontal? ? nil : 'vertical' }
        = render_photo(photo)
      = posted_distance_of_time(photo)
      = link_to_comments(photo.comments_count, posting_comments_path(photo))
  .reaction
