.posting[photo]
  - if false
    - unless photo.nil?
      = avatar_image_tag(photo.user.profile.avatar, :style => :thumb)
      = link_to image_tag(photo.image.url(:poloroid), :site => false, :class => 'polariod')   
  
  - if true
    %table
      %tr
        %td.avatar.thumb
          = render_post_it(photo)
        %td
          - if photo.present? && photo.horizontal?
            = image_tag(photo.image.url(:h4x6), :site => false, :class => 'photo h4x6 small')
          - else
            = image_tag(photo.image.url(:v4x6), :site => false, :class => 'photo v4x6 small')
          %p
          = render :partial => 'comments/comment', :collection => photo.children.comments
          %div{:id => "posting_#{photo.id}_new_comment_well"}
          = render :partial => 'comments/new', :locals => { :parent_id => photo.id }
